.button {
  display: block;
  padding-top: 14px;
  padding-bottom: 12px;

  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 50px;
}

.button:focus {
  box-shadow:
      0 0 0 2px white,
      0 0 0 4px var(--primary-color);
  outline: none;
}

.button:hover {
  color: white;
  background: var(--secondary-color);
}

@media (min-width: 1024px) {
  .button {
    display: inline-block;
    padding-top: 11px;
    padding-right: 34px;
    padding-bottom: 10px;
    padding-left: 34px;

    font-size: 20px;
    line-height: 1.2;
  }
}
