.footer {
  margin-top: 44px;
  margin-bottom: 35px;

  border-top: 1px solid rgba(48, 59, 64, 0.2);
}

.footer__content {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.footer__logo {
  width: 90%;
  margin-top: -34px;
  margin-right: auto;
  margin-left: auto;

  font-size: 0;
  text-align: right;
}

.footer__logo-link:focus {
  outline: 1px solid var(--primary-color);
}

.footer--margin-top {
  margin-top: 37px;
}

.footer__logo-link:hover {
  opacity: 0.5;
}

@media (min-width: 1024px) {
  .footer {
    margin-top: 101px;
    padding-top: 18px;
    padding-right: 25px;
    padding-left: 25px;
  }

  .footer__container {
    display: flex;

    justify-content: space-between;
    align-items: flex-start;
  }

  .footer__content {
    display: flex;
    width: 75%;
    margin: 0;

    justify-content: space-between;
  }

  .footer__logo {
    width: auto;
    margin: 0;

    align-self: flex-end;
  }

  .footer__logo img {
    width: 38px;
  }
}

@media (min-width: 1280px) {
  .footer {
    padding: 0;
    padding-top: 18px;
  }

  .footer__container {
    width: 81.3%;
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
  }

  .footer__content {
    width: 57.5%;
  }
}
