.form-subscribe {
  margin-top: 17px;
}

.form-subscribe__field {
  margin-top: -2px;
}

.form-subscribe__input {
  width: 69%;
  margin-right: 1%;
  padding-top: 0;
  padding-right: 4px;
  padding-bottom: 0;
  padding-left: 4px;

  font-family: "gotham pro", "verdana", sans-serif;
  font-size: 12px;
  line-height: 1.8;

  border: none;
  border-bottom: 1px solid #B4BDC7;
}

.form-subscribe__input:hover {
  border-bottom-color: var(--primary-color);
}

.form-subscribe__input:focus {
  outline: 2px solid var(--primary-color);
}

.form-subscribe__input:-moz-placeholder {
  color: #B4BDC7;
}

.form-subscribe__input::-moz-placeholder {
  color: #B4BDC7;
}

.form-subscribe__input::-webkit-input-placeholder {
  color: #B4BDC7;
}

.form-subscribe__input:-ms-input-placeholder {
  color: #B4BDC7;
}

.form-subscribe__input:hover:-moz-placeholder {
  color: var(--primary-color);
}

.form-subscribe__input:hover::-moz-placeholder {
  color: var(--primary-color);
}

.form-subscribe__input:hover::-webkit-input-placeholder {
  color: var(--primary-color);
}

.form-subscribe__input:hover:-ms-input-placeholder {
  color: var(--primary-color);
}

.form-subscribe__button {
  width: 28%;
  padding-top: 6px;
  padding-bottom: 4px;

  font-family: "gotham pro", "verdana", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.1;

  color: #B4BDC7;
  background: white;
  border: 1px solid #B4BDC7;
  border-radius: 30px;
}

.form-subscribe__button:focus {
  box-shadow:
      0 0 0 2px white,
      0 0 0 4px var(--primary-color);
  outline: none;
}

.form-subscribe__button:hover {
  color: var(--text-second-color);
  background: #B4BDC7;
}

@media (min-width: 1024px) {
  .form-subscribe {
    width: 60%;
    margin-top: 0;

    font-size: var(--second-font-size-desktop);
  }

  .form-subscribe__field {
    display: flex;
    margin-top: 4px;

    justify-content: space-between;
  }

  .form-subscribe__input {
    width: auto;
    margin-right: 4%;

    flex-grow: 1;

    font-size: var(--main-font-size-desktop);

    border-bottom-width: 2px;
  }

  .form-subscribe__button {
    width: 36%;
    padding-top: 8px;
    padding-bottom: 7px;

    font-size: var(--main-font-size-desktop);
    line-height: 1.2;

    border-width: 2px;
  }
}

@media (min-width: 1280px) {
  .form-subscribe {
    width: 55.5%;
  }
}
