.form-subscribe {
  margin-top: 17px;
}

.form-subscribe__field {
  margin-top: -2px;
}

.form-subscribe__input {
  width: 65%;
  margin-right: 1%;
  padding-right: 8px;
  padding-bottom: 0;
  padding-left: 8px;
  padding-top: 2px;

  font-family: "gotham pro", "verdana", sans-serif;
  font-size: var(--main-font-size);
  line-height: 1.8;
  border-radius: 0;
  box-shadow: none;

  border: none;
  border-bottom: 1px solid var(--border-color);
  border-top: 1px solid transparent;
}

.form-subscribe__input:hover {
  border-bottom-color: var(--aquamarine);
}

.form-subscribe__input:focus {
  outline: 2px solid var(--aquamarine);
}

.form-subscribe__input:-moz-placeholder {
  color: var(--border-color);
}

.form-subscribe__input::-moz-placeholder {
  color: var(--border-color);
}

.form-subscribe__input::-webkit-input-placeholder {
  color: var(--border-color);
}

.form-subscribe__input:-ms-input-placeholder {
  color: var(--border-color);
}

.form-subscribe__input:hover:-moz-placeholder {
  color: var(--aquamarine);
}

.form-subscribe__input:hover::-moz-placeholder {
  color: var(--aquamarine);
}

.form-subscribe__input:hover::-webkit-input-placeholder {
  color: var(--aquamarine);
}

.form-subscribe__input:hover:-ms-input-placeholder {
  color: var(--aquamarine);
}

.form-subscribe__button {
  width: 30%;
  padding-top: 6px;
  padding-bottom: 4px;

  font-family: "gotham pro", "verdana", sans-serif;
  font-weight: bold;
  font-size: var(--main-font-size);
  line-height: 1.1;

  color: #b4bdc7;
  background: var(--white);
  border: 1px solid #b4bdc7;
  border-radius: 30px;
  white-space: nowrap
}

.form-subscribe__button:focus {
  box-shadow:
      0 0 0 2px var(--white),
      0 0 0 4px var(--aquamarine);
  outline: none;
}

.form-subscribe__button:hover {
  color: var(--white);
  background: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}

.form-subscribe:focus-within .form-subscribe__button {
  color: var(--white);
  background: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}

@media (min-width: 1024px) {
  .form-subscribe {
    width: 60%;
    margin-top: 0;

    font-size: var(--second-font-size-desktop);
  }

  .form-subscribe__field {
    display: flex;
    margin-top: 4px;

    justify-content: space-between;
  }

  .form-subscribe__input {
    width: auto;
    margin-right: 4%;

    flex-grow: 1;

    font-size: var(--main-font-size-desktop);

    border-bottom-width: 2px;
    border-top-width: 2px;
    padding-top: 2px;
  }

  .form-subscribe__button {
    width: 36%;
    padding-top: 8px;
    padding-bottom: 7px;

    font-size: var(--main-font-size-desktop);
    line-height: 1.2;

    border-width: 2px;
  }
}

@media (min-width: 1280px) {
  .form-subscribe {
    width: 55.5%;
  }
}
