/* Header */

.header {
  display: flex;
  margin-top: 10px;

  flex-wrap: wrap;
}

@media (min-width: 1024px) {
  .header {
    margin-top: 25px;
    padding-right: 25px;
    padding-left: 25px;

    justify-content: space-between;
  }
}

@media (min-width: 1280px) {
  .header {
    width: 81.1%;
    max-width: 1168px;
    margin-top: 22px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
  }
}

.header--underline {
  min-height: 57px;

  border-bottom: 1px solid rgba(48, 59, 64, 0.2);
}

@media (min-width: 1024px) {
  .header--underline {
    border-bottom: none;
  }
}

/* Container */

.header__container {
  display: flex;
  max-width: 100%;
  height: 50px;
  margin-left: 6.4%;

  flex-grow: 1;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
}

@media (min-width: 1024px) {
  .header__container {
    height: 80px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (min-width: 1280px) {
  .header__container {
    width: 25.1%;
    max-width: 362px;
    height: 86px;
    margin-top: 3px;
  }
}

/* Logo Container */

.header__logo-container img {
  width: 132px;
  height: 28px;
}

@media (min-width: 1024px) {
  .header__logo-container img {
    width: 150px;
    height: 32px;
  }
}

@media (min-width: 1280px) {
  .header__logo-container img {
    width: 198px;
    height: 40px;
  }
}

/* Logo */

.header__logo:focus {
  outline: 1px solid var(--aquamarine);
}

/* Time */

.header__time {
  margin-left: 34px;

  font-size: 10px;
  line-height: 1.2;

  color: var(--primary-text-color);
}

@media (min-width: 1024px) {
  .header__time {
    margin-left: 38px;

    font-size: var(--main-font-size-desktop);
    line-height: 1.5;
  }
}

@media (min-width: 1280px) {
  .header__time {
    margin-left: 50px;
  }
}

/* Place */

.header__place {
  display: none;
}

@media (min-width: 768px) {
  .header__place {
    display: block;
    width: 20%;
    height: 100%;
    margin-left: 10%;
    margin-top: 1px;
  }

  .header__place:focus {
    outline: 1px solid var(--aquamarine);
  }
}

@media (min-width: 1024px) {
  .header__place {
    width: 40%;
    margin-left: 15%;
  }
}

@media (min-width: 1280px) {
  .header__place {
    margin-top: 6px;
    margin-left: 12%;
  }
}

/* Place City */

.header__place-city {
  font-weight: bold;
}

@media (min-width: 1024px) {
  .header__place-city {
    font-size: var(--main-font-size-desktop);
    line-height: 1.3;
  }
}

/* Place Link */

.header__place-link {
  position: relative;

  display: inline-block;
  max-width: 123px;

  font-size: 11px;
  line-height: 1.3;
  text-decoration: none;

  color: var(--primary-text-color);
  border: 2px solid transparent;
}

.header__place-link::before {
  content: "";

  position: absolute;
  top: -2px;
  left: -21px;

  width: 18px;
  height: 34px;

  background: url("../images/icon-place.svg") no-repeat 0 2px;
  background-size: 12px;
  border: 2px solid transparent;
}

.header__place-link::after {
  content: '';

  position: absolute;
  top: -2px;
  left: -4px;

  width: 3px;
  height: 34px;

  background: var(--white);
}

.header__place-link:focus {
  padding-bottom: 6px;

  outline: 1px solid var(--aquamarine);
}

.header__place-link:hover {
  color: var(--secondary-color);
}

.header__place-link:focus::before {
  outline: 1px solid var(--aquamarine);
}

@media (min-width: 1024px) {
  .header__place-link {
    padding-bottom: 16px;

    font-size: var(--main-font-size-desktop);
    line-height: 1.3;
  }
}

/* Navigation */

.header__nav {
  width: 100%;
  margin-top: 5px;
}

@media (min-width: 1024px) {
  .header__nav {
    width: 50%;
    margin-left: auto;
  }
}


@media (min-width: 1280px) {
  .header__nav {
    margin-top: 8px;

    flex-grow: 1;
  }
}

/* Buy */

.header__buy {
  margin-top: 6px;
  margin-right: 6.2%;
}

@media (min-width: 1024px) {
  .header__buy {
    margin: 0;
    order: 1;
  }
}

/* Button */

.header__button {
  position: relative;

  display: block;
  padding-top: 11px;
  padding-right: 14px;
  padding-bottom: 9px;
  padding-left: 43px;

  font-weight: bold;
  font-size: var(--main-font-size);
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  color: var(--dark-bgr-text-color);
  background: var(--secondary-color);
  border-radius: 20px;
}

@media (min-width: 1024px) {
  .header__button {
    padding-top: 11px;
    padding-right: 0;
    padding-bottom: 8px;
    padding-left: 32px;

    font-size: var(--main-font-size-desktop);
    line-height: 1.2;

    border-radius: 30px;
  }
}

@media (min-width: 1280px) {
  .header__button {
    padding-top: 17px;
    padding-right: 23px;
    padding-bottom: 14px;
    padding-left: 65px;

    font-size: 17px;
  }
}

/* Button Icon */

.header__button::before {
  content: "";

  position: absolute;
  top: 11px;
  left: 17px;

  width: 21px;
  height: 12px;

  background: transparent url("../images/icon-ticket.svg") no-repeat 0 0;
  background-size: contain;
}

@media (min-width: 1024px) {
  .header__button::before {
    top: 12px;
    left: 17px;

    width: 23px;
    height: 13px;
  }
}

@media (min-width: 1280px) {
  .header__button::before {
    top: 17px;
    left: 21px;

    width: 32px;
    height: 18px;
  }
}

.header__button:focus {
  box-shadow:
    0 0 0 2px var(--white),
    0 0 0 4px var(--aquamarine);
  outline: none;
}

.header__button:hover {
  background: var(--secondary-color-hover);
}

/* Days Number */

.header__days-number {
  display: none;
}

@media (min-width: 1024px) {
  .header__days-number {
    display: block;
    margin-top: 9px;

    font-size: 11px;
    line-height: 1;
    text-align: center;
  }
}

@media (min-width: 1280px) {
  .header__days-number {
    font-size: 13px;
  }
}

/* Menu List */

.header__menu-list {
  display: flex;
  width: 100%;
  margin: 0;
  padding-top: 14px;
  padding-right: 5%;
  padding-bottom: 15px;
  padding-left: 5%;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 10px;
  border-top: 1px solid rgba(48, 59, 64, 0.2);
}

@media (min-width: 375px) {
  .header__menu-list {
    padding-right: 6.2%;
    padding-left: 6.4%;

    font-size: var(--main-font-size);
  }
}

@media (min-width: 1024px) {
  .header__menu-list {
    display: flex;
    width: auto;
    margin: 0;
    margin-left: auto;
    padding-top: 7px;
    padding-right: 4%;
    padding-bottom: 0;
    padding-left: 0;
    justify-content: flex-end;
    align-self: flex-start;
    font-size: var(--main-font-size-desktop);
    border: none;
  }
}

@media (min-width: 1440px) {
  .header__menu-list {
    font-size: var(--second-font-size);
  }
}

/* Menu Item */

.header__menu-item {
  padding-top: 8px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;

  list-style: none;
}

@media (min-width: 1024px) {
  .header__menu-item {
    padding-top: 10px;
    padding-right: 9px;
    padding-bottom: 8px;
    padding-left: 9px;
  }
}

@media (min-width: 1280px) {
  .header__menu-item {
    padding-right: 13px;
    padding-left: 13px;
  }
}

.header__menu-item--active {
  background: var(--secondary-color);
}

.header__menu-item--active .header__menu-link {
  color: var(--dark-bgr-text-color);
}

.header__menu-item--active .header__menu-link:hover {
  color: var(--dark-bgr-text-color);
}

/* Menu Link */

.header__menu-link {
  display: block;
  line-height: 1;

  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;

  color: var(--primary-text-color);
}

.header__menu-link:focus {
  outline: 1px solid var(--aquamarine);
}

.header__menu-link:hover {
  color: var(--secondary-color);
}
