.page-payment {
  margin-right: 19px;
  margin-left: 19px;
  padding-top: 90px;
  padding-bottom: 15px;
}

.page-payment__content {
  text-align: center;
}

.page-payment__title {
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.06em;
  text-transform: lowercase;
}

.page-payment__description {
  font-size: var(--second-font-size);
  line-height: 1.5;
  margin-top: 40px;
}

@media (min-width: 1024px) {
  .page-payment {
    display: flex;
    justify-content: center;
    padding-top: 0;
  }

  .page-payment__content {
    text-align: left;
    width: 90%;
    padding-left: 35%;
  }

  .page-payment__title {
    font-size: 86px;
    margin-bottom: 20px;
  }

  .page-payment__description {
    font-size: var(--second-font-size-desktop);
    letter-spacing: -0.1px;
    padding-right: 100px;
    margin-top: 0;
  }
}
