.page {
  margin-right: 19px;
  margin-left: 19px;
  font-size: var(--second-font-size);
  line-height: 1.5;
}

.page h1 {
  letter-spacing: -0.06em;
  text-transform: lowercase;
  font-size: 36px;
  line-height: 1.2;
  color: var(--primary-color);
  margin-top: 25px;
  margin-bottom: 10px;
}

.page h2 {
  text-transform: lowercase;
  font-size: 21px;
  line-height: 1.4;
  margin: 0;
  margin-bottom: 17px;
}

.page h3 {
  text-transform: lowercase;
  font-size: 18px;
  line-height: 1.4;
  margin: 0;
  padding-right: 5px;
  margin-bottom: 12px;
}

.page h4 {
  text-transform: lowercase;
  font-size: var(--second-font-size);
  line-height: 1.4;
  margin: 0;
}

.page mark {
  background-image: linear-gradient(#ffffff 10%, var(--primary-color) 10%, var(--primary-color) 80%, #ffffff 100%);
}

.page strong,
.page b {
  font-weight: 700;
}

.page img {
  display: block;
}

.page ol,
.page ul {
  margin: 0 0 15px;
  padding-left: 15px;
  font-size: var(--second-font-size);
}

.page ul {
  list-style-type: none;
}

.page li {
  position: relative;
  margin-bottom: 5px;
}

.page ul li::before {
  content: "";
  position: absolute;
  top: 11px;
  left: -14px;
  display: block;
  width: 6px;
  height: 6px;
  background-color: var(--primary-color);
}

@media (min-width: 1024px) {
  .page ol,
  .page ul {
    font-size: var(--second-font-size-desktop);
  }
}

@media (min-width: 1024px) {
  .page__content {
    width: 840px;
    margin: 0 auto;
    position: relative;
  }

  .page h1 {
    font-size: 86px;
  }

  .page h2 {
    font-size: 34px;
  }

  .page h3 {
    font-size: 26px;
  }

  .page h4 {
    font-size: var(--second-font-size-desktop);
  }
}
