.price-info {
  position: relative;

  margin-top: 19px;
}

.price-info__price-list {
  position: relative;

  display: flex;
  margin: 0;
  padding-top: 12px;
  padding-right: 11px;
  padding-bottom: 10px;
  padding-left: 11px;

  background: var(--white);
  border: 2px solid var(--primary-text-color);
}

.price-info__price-list::before {
  content: "";

  position: absolute;
  top: -6px;
  left: 50%;

  width: 9px;
  height: 9px;

  transform:
      translateX(-50%)
      rotate(-45deg);

  background: var(--white);
  border-top: 2px solid var(--primary-text-color);
  border-right: 2px solid var(--primary-text-color);
}

.price-info__item {
  list-style: none;
}

.price-info__item--current {
  width: 66%;
  padding-right: 10%;
}

.price-info__item--future {
  color: var(--secondary-text-color);
}

.price-info__date {
  display: block;
}

.price-info__price {
  font-weight: bold;
  font-size: var(--second-font-size);
  line-height: 1.6;
  text-transform: initial;
}

.price-info__close {
  position: absolute;
  top: 12px;
  right: 8px;

  width: 14px;
  height: 14px;

  background: none;
  border: none;

  cursor: pointer;
}

.price-info__close:focus {
  outline: 1px solid var(--secondary-color);
}

.price-info__close::before,
.price-info__close::after {
  content: "";

  position: absolute;
  top: 0;
  right: 6px;

  width: 2px;
  height: 14px;

  background: var(--primary-text-color);
}

.price-info__close::before {
  transform: rotate(45deg);
}

.price-info__close::after {
  transform: rotate(-45deg);
}

@media (min-width: 1024px) {
  .price-info {
    margin-top: 38px;
  }

  .price-info__price-list {
    padding-top: 24px;
    padding-right: 16px;
    padding-bottom: 25px;
    padding-left: 16px;

    border-width: 4px;
  }

  .price-info__price-list::before {
    top: -12px;

    width: 18px;
    height: 18px;

    border-top-width: 4px;
    border-right-width: 4px;
  }

  .price-info__item--current {
    width: 81%;
  }

  .price-info__date {
    font-size: var(--main-font-size-desktop);
  }

  .price-info__price {
    font-size: var(--second-font-size-desktop);
    line-height: 1;
  }

  .price-info__close {
    top: 16px;
    right: 14px;

    width: 16px;
    height: 16px;
    padding: 0;
  }

  .price-info__close::before,
  .price-info__close::after {
    right: 8px;

    width: 2px;
    height: 16px;
  }
}
