/* Random */

.random {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Fill */

.random__green {
  background-color: #00e2b6;
}

.random__pink {
  background-color: #eb038b;
}

.random__red {
  background-color: #f7431a;
}

.random__violet {
  background-color: #6223db;
}

.random__yellow {
  background-color: #ffe31a;
}

/* Rect */

.random__rect {
  position: absolute;
}

/* Skew */

.random__skew-plus {
  transform: skewX(45deg);
}

.random__skew-minus {
  transform: skewX(-45deg);
}

/* Shape */

.random__shape {
  position: absolute;
  background-repeat: space;
}

/* Bracket */

.random__bracket-green {
  background-image: url(../images/badge/bracket-green.svg);
}

.random__bracket-pink {
  background-image: url(../images/badge/bracket-pink.svg);
}

.random__bracket-red {
  background-image: url(../images/badge/bracket-red.svg);
}

.random__bracket-violet {
  background-image: url(../images/badge/bracket-violet.svg);
}

.random__bracket-yellow {
  background-image: url(../images/badge/bracket-yellow.svg);
}

/* Plus */

.random__plus-green {
  background-image: url(../images/badge/plus-green.svg);
}

.random__plus-pink {
  background-image: url(../images/badge/plus-pink.svg);
}

.random__plus-red {
  background-image: url(../images/badge/plus-red.svg);
}

.random__plus-violet {
  background-image: url(../images/badge/plus-violet.svg);
}

.random__plus-yellow {
  background-image: url(../images/badge/plus-yellow.svg);
}

/* Slash */

.random__slash-green {
  background-image: url(../images/badge/slash-green.svg);
}

.random__slash-pink {
  background-image: url(../images/badge/slash-pink.svg);
}

.random__slash-red {
  background-image: url(../images/badge/slash-red.svg);
}

.random__slash-violet {
  background-image: url(../images/badge/slash-violet.svg);
}

.random__slash-yellow {
  background-image: url(../images/badge/slash-yellow.svg);
}

/* Tag */

.random__tag-green {
  background-image: url(../images/badge/tag-green.svg);
}

.random__tag-pink {
  background-image: url(../images/badge/tag-pink.svg);
}

.random__tag-red {
  background-image: url(../images/badge/tag-red.svg);
}

.random__tag-violet {
  background-image: url(../images/badge/tag-violet.svg);
}

.random__tag-yellow {
  background-image: url(../images/badge/tag-yellow.svg);
}

/* Pattern */

.random__pattern-small {
  background-size: 30px auto;
}

.random__pattern-medium {
  background-size: 40px auto;
}

.random__pattern-large {
  background-size: 60px auto;
}
