.recreation {
  display: flex;
  padding-top: 18px;
  padding-bottom: 14px;

  border-top: 1px solid var(--tertiary-color);
}

.recreation__time {
  width: 14%;

  font-weight: bold;
}

.recreation__heading {
  margin: 0;

  font-size: var(--main-font-size);
  text-transform: lowercase;
}

@media (min-width: 1024px) {
  .recreation {
    margin-left: 8.7%;
    padding-top: 23px;
    padding-bottom: 25px;

    border-top-width: 2px;
  }

  .recreation__time {
    width: 195px;

    font-size: var(--main-font-size-desktop);
  }

  .recreation__heading {
    font-size: var(--main-font-size-desktop);
  }
}
