.session {
  position: relative;

  padding-top: 12px;
  padding-bottom: 23px;

  border-top: 1px solid var(--tertiary-color);
}

.leader + .section__container .session:first-child {
  border-top-color: transparent;
}

.session--closed {
  padding-bottom: 14px;
}

.session--closed .session__topic,
.session--closed .session__speaker-photo,
.session--closed .session__info {
  display: none;
}

.session__heading {
  width: 100%;
}

.session--closed .session__heading {
  width: 90%;
}

.session__time {
  font-weight: bold;
  font-size: var(--second-font-size);
}

.session--closed .session__container {
  cursor: pointer;
}

.session__container:focus {
  outline: none;
}

.session--closed .session__container:focus {
  outline: 1px solid var(--aquamarine);
}

.session--closed .session__container:hover {
  color: var(--secondary-color);
}

.session--announced .session__container:hover {
  color: #303b40;
  cursor: default;
}

.session__speaker {
  margin: 0;
  margin-top: 4px;

  font-weight: bold;
  font-size: var(--second-font-size);
  line-height: 1.2;
}

.session__company {
  margin-left: -3px;

  text-transform: lowercase;
}

.session__company::before {
  content: "__";
}

.session__topic {
  margin: 0;
  margin-top: 15px;
  margin-left: 88px;

  font-weight: normal;
  font-size: var(--second-font-size);
}

.session__toggle {
  position: absolute;
  top: 16px;
  right: 1px;

  width: 14px;
  height: 14px;

  background: none;
  border: none;

  cursor: pointer;
}

.session__toggle:focus {
  outline: 1px solid var(--aquamarine);
}

.session__toggle::before,
.session__toggle::after {
  content: "";

  position: absolute;
  top: 0;
  right: 6px;

  width: 2px;
  height: 14px;

  background: var(--secondary-color);
}

.session__toggle::before {
  transform: rotate(90deg);
}

.session__toggle--hide::before {
  transform: rotate(45deg);
}

.session__toggle--hide::after {
  transform: rotate(-45deg);
}

.session__speaker-photo {
  width: 72px;
  height: 72px;
  float: left;
  margin-top: 20px;
}

.session__info {
  margin-top: -3px;
  margin-left: 88px;
}

.session__description {
  width: 90%;
  margin: 0;
  margin-top: 9px;

  font-size: var(--main-font-size);
}

.session__link {
  display: inline-block;
  margin-top: 16px;

  line-height: 1.2;
  text-transform: lowercase;
  text-decoration: none;

  color: var(--tertiary-color);
  border-bottom: 1px solid var(--secondary-color);
}

.session__link:hover {
  border-bottom-color: rgba(239, 67, 25, 0.5);
}

.session__link:focus {
  border-bottom: none;
  outline: 1px solid var(--aquamarine);
}

@media (min-width: 1024px) {
  .session {
    min-height: 260px;
    margin-left: 8.7%;
    padding-top: 25px;
    padding-bottom: 29px;

    border-top-width: 2px;
  }

  .session--announced {
    min-height: 0;
  }

  .session--closed {
    min-height: 0;
  }

  .session__time {
    position: absolute;
    top: 23px;
    left: 0;
    width: 199px;

    font-size: 26px;
    line-height: 1.2;
  }

  .session__speaker {
    margin-top: 4px;
    margin-left: 199px;

    font-size: 26px;
  }

  .session__company {
    margin-left: -6px;
  }

  .session__topic {
    margin-top: 9px;
    margin-left: 199px;

    font-size: var(--second-font-size-desktop);
  }

  .session--closed .session__topic {
    display: block;
  }

  .session__toggle {
    top: 50px;
    right: -2px;

    width: 28px;
    height: 28px;
  }

  .session__toggle::before,
  .session__toggle::after {
    right: 12px;

    width: 4px;
    height: 28px;
  }

  .session__speaker-photo {
    position: relative;

    width: 150px;
    height: 150px;
    margin-top: 17px;
  }

  .session__speaker-photo::before {
    content: '';

    position: absolute;
    top: 48px;
    right: -23px;

    width: 47px;
    height: 54px;

    background: transparent url('../images/bgr-speaker.svg') no-repeat 0 0;
    background-size: contain;
  }

  .session__info {
    width: 48.5%;
    margin-top: 3px;
    margin-left: 199px;
  }

  .session__description {
    margin-top: 0;

    font-size: var(--main-font-size-desktop);
    line-height: 1.75;
  }

  .session__link {
    margin-top: 32px;
    margin-left: -8px;
    padding: 8px;

    font-weight: bold;
    font-size: var(--main-font-size-desktop);
    line-height: 1.2;

    color: var(--secondary-color);
    border-bottom: none;
  }
}
