.speakers__caption {
  margin: 0;
  margin-top: 21px;

  font-size: 21px;
}

.speakers__description {
  margin: 0;
  margin-top: 6px;
}

.speakers__button {
  display: block;
  margin-top: 13px;

  font-weight: bold;
  line-height: 2.2;
  text-decoration: none;
  text-align: center;

  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}

.speakers__button:focus {
  box-shadow:
      0 0 0 2px var(--white),
      0 0 0 4px var(--aquamarine);
  outline: none;
}

.speakers__button:hover {
  color: var(--dark-bgr-text-color);
  background: var(--secondary-color);
}

@media (min-width: 1024px) {
  .speakers__block {
    text-align: center;
  }

  .speakers__caption {
    text-align: left;
  }

  .speakers__description {
    text-align: left;
  }

  .speakers__button {
    display: inline-block;
    padding-right: 34px;
    padding-left: 34px;
  }
}

@media (min-width: 1440px) {
  .speakers__block {
    width: 51%;

    text-align: left;
  }

  .speakers__caption {
    margin-top: -2px;

    font-size: 34px;
  }

  .speakers__description {
    margin: 0;
    margin-top: 10px;
    margin-right: 4%;

    font-size: var(--second-font-size-desktop);
  }

  .speakers__button {
    margin-top: 41px;

    font-size: var(--second-font-size-desktop);
    line-height: 2.2;
  }
}
