.summary {
  position: relative;

  min-height: 337px;
  padding-top: 29px;
  padding-right: 6.2%;
  padding-bottom: 35px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-transform: lowercase;

  color: var(--text-second-color);
  background: var(--primary-color);
}

.summary::before {
  content: '';

  position: absolute;
  top: 0;
  right: 0;

  width: 50%;
  height: 100%;

  background: transparent url('../images/bgr-summary-mobile.svg') no-repeat 0 0;
  background-size: contain;
}

.summary__container {
  width: 75.9%;
  max-width: 410px;
  padding-top: 19px;
  padding-bottom: 27px;
  padding-left: 6.2%;

  background: var(--tertiary-color);
}

.summary__heading {
  margin: 0;
  margin-top: 12px;

  font-size: 36px;
}

.summary__stats {
  position: absolute;
  right: 7%;
  bottom: 291px;

  display: flex;
  width: 246px;
  margin: 0;

  justify-content: space-between;

  transform: rotate(-90deg);
  transform-origin: 100% 100%;

  font-size: 36px;
}

.summary__stats-unit {
  display: block;
  margin-top: 2px;

  font-size: var(--second-font-size);
}

@media (min-width: 768px) {
  .summary::before {
    right: 16%;

    background-size: 384px;
  }
}

@media (min-width: 1024px) {
  .summary {
    padding-top: 91px;
    padding-bottom: 94px;

    font-size: 86px;
    line-height: 1.1;

    border-top: 1px solid #d6d8d9;
  }

  .summary::before {
    right: 25%;

    width: 40%;

    background-image: url('../images/bgr-summary.svg');
    background-size: contain;
  }

  .summary__container {
    width: 53.3%;
    max-width: none;
    padding-top: 39px;
    padding-bottom: 63px;
    padding-left: 30px;
  }

  .summary__heading {
    width: 158%;
    margin-top: 31px;
    margin-left: 17%;

    font-size: 86px;
    line-height: 1.1;
  }

  .summary__stats {
    right: 50px;
    bottom: 595px;

    width: 505px;

    font-size: 86px;
  }

  .summary__stats-unit {
    font-size: 20px;
  }
}

@media (min-width: 1280px) {
  .summary::before {
    max-width: 580px;
  }

  .summary__inner {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
  }

  .summary__container {
    padding-left: 10%;
  }

  .summary__stats {
    right: 9.5%;
  }

  .summary__stats-unit {
    margin-top: 12px;
  }
}
