html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  box-sizing: content-box;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: var(--font-stack);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  color: var(--text-color);
  background: var(--white);
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.js-hide {
  display: none;
}

.hide-mobile {
  display: none;
}

p {
  font-size: var(--second-font-size);
  margin: 0;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

.paragraph-lead {
  font-size: 21px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.paragraph-small {
  font-size: var(--main-font-size);
}

@media (min-width: 460px) {
  .picture-right {
    float: right;
    margin-left: 15px;
  }

  .picture-left {
    float: left;
    margin-right: 15px;
    margin-bottom: 7px;
  }
}

@media (min-width: 1024px) {
  p {
    font-size: var(--second-font-size-desktop);
  }

  .paragraph-lead {
    font-size: 34px;
  }

  .paragraph-small {
    font-size: var(--main-font-size-desktop);
    line-height: 1.7;
  }
}
