:root {
  --charcoal-grey: #303b40;
  --neon-pink: #ff0195;
  --aquamarine: #00e2b5;
  --white: #ffffff;

  --text-color: var(--charcoal-grey);
  --primary-color: var(--aquamarine);
  --secondary-color: var(--neon-pink);
  --text-second-color: var(--white);

  --main-font-size: 12px;
  --second-font-size: 15px;
  --main-font-size-desktop: 14px;
  --second-font-size-desktop: 20px;
  --font-stack: "Gotham Pro", "Verdana", sans-serif;
  --main-line-height: 1.5;

  --map-height: 50vh;
}
