:root {
  --aquamarine: #00e2b5;
  --barbie-pink: #e30083;
  --blue-magenta-violet: #55359e;
  --charcoal-grey: #303b40;
  --fire-opal: #f2613e;
  --flame: #ef4319;
  --neon-pink: #ff0195;
  --white: #ffffff;
  --yellow: #ffdb1a;


  --primary-color: var(--aquamarine);
  --secondary-color: var(--flame);
  --hover-color: var(--fire-opal);
  --tertiary-color: var(--blue-magenta-violet);
  --quaternary-color: var(--yellow);
  --quinary-color: var(--barbie-pink);
  --text-color: var(--charcoal-grey);
  --text-second-color: var(--white);

  --main-font-size: 12px;
  --second-font-size: 15px;
  --main-font-size-desktop: 14px;
  --second-font-size-desktop: 20px;
  --font-stack: "Gotham Pro", "Verdana", sans-serif;
  --main-line-height: 1.5;

  --map-height: 50vh;
}
