@font-face {
    font-family: 'gotham pro';
    font-weight: 400;
    font-style: normal;
    src:
        local('gotham pro'),
        url('../fonts/gotham-pro.woff') format('woff'),
        url('../fonts/gotham-pro.woff2') format('woff2');
}

@font-face {
    font-family: 'gotham pro';
    font-weight: 700;
    font-style: normal;
    src:
        local('gotham pro'),
        url('../fonts/gotham-pro-bold.woff') format('woff'),
        url('../fonts/gotham-pro-bold.woff2') format('woff2');
}

body {
    min-width: 375px;
    margin: 0;

    font-family: 'gotham pro', 'verdana', sans-serif;
    font-size: 12px;
    line-height: 1.5;

    color: #303B40;
    background: white;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #B4BDC7;
    border-radius: 3px;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;

    border: 0;
}

.main-header {
    margin-top: 12px;
}

.main-header__main-nav {
    display: flex;

    flex-wrap: wrap;
}

.main-header__logo-container {
    display: flex;
    margin-left: 5.5%;

    flex-grow: 1;
    flex-direction: column;
}

.main-header__logo img {
    width: 106px;
    height: 22px;
}

.main-header__time {
    margin-left: 38px;

    font-size: 7px;
    line-height: 1.9;
    letter-spacing: 0.5px;

    color: #1E1F1D;
}

.main-header__days {
    display: none;
}

.main-header__place {
    display: none;
}

.main-header__buy {
    margin-top: 2px;
    margin-right: 5%;
}

.main-header__btn {
    position: relative;

    display: block;
    padding-left: 60px;
    padding-right: 29px;

    font-weight: bold;
    font-size: 15px;
    line-height: 2.5;
    letter-spacing: -0.3px;
    text-decoration: none;
    text-align: center;

    color: white;
    background: #FF0195;
}

.main-header__btn:focus {
    box-shadow:
        0 0 0 2px white,
        0 0 0 4px #00E2B5;
    outline: none;
}

.main-header__btn:hover {
    background: #FF42B0;
}

.main-header__btn::before {
    content: '';

    position: absolute;
    top: 13px;
    left: 26px;

    width: 22px;
    height: 13px;

    background: transparent url('../img/icon-ticket.svg') no-repeat 0 0;
    background-size: contain;
}

.main-header__price-in-other-currencies {
    display: none;
}

.main-header__menu-list {
    display: flex;
    width: 100%;
    margin: 0;
    margin-top: 13px;
    padding-top: 15px;
    padding-right: 5.5%;
    padding-bottom: 16px;
    padding-left: 5.5%;

    border-top: 1px solid rgba(48, 59, 64, 0.2);
}

.main-header__menu-item {
    margin-right: 0.5%;
    padding-top: 7px;
    padding-right: 6px;
    padding-bottom: 6px;
    padding-left: 6px;

    list-style: none;
}

.main-header__menu-item--active {
    background: #00E2B5;
}

.main-header__menu-item--active .main-header__menu-link {
    color: white;
}

.main-header__menu-item--active .main-header__menu-link:hover {
    color: white;
}

.main-header__menu-link {
    display: block;
    line-height: 1;

    font-weight: bold;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    text-decoration: none;

    color: #303B40;
}

.main-header__menu-link:focus {
    outline: 1px solid #00E2B5;
}

.main-header__menu-link:hover {
    color: #FF0195;
}

.summary {
    min-height: 315px;
    padding-top: 20px;
    padding-right: 15%;
    padding-bottom: 47px;
    padding-left: 5%;

    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -2px;
    text-transform: lowercase;

    color: white;
    background: #00E2B5 url('../img/hand.png') no-repeat 90% 100%;
}

.summary__heading {
    margin: 0;
    margin-top: 12px;

    font-size: 36px;
}

.summary__table {
    margin-top: 27px;

    border-collapse: collapse;
}

.summary__table tbody {
    display: flex;

    flex-direction: column;
}

.summary__table-row:first-child {
    order: 1;
}

.summary__table-heading {
    min-width: 113px;
    padding: 0;

    font-size: 15px;
    letter-spacing: -0.2px;
    text-align: left;
}

.summary__table-heading:first-child,
.summary__table-data:first-child {
    min-width: 50px;
}

.summary__table-data {
    min-width: 113px;
    padding: 0;
}

.section {
    margin-top: 38px;
    margin-right: 5%;
    margin-left: 5%;
}

.section__heading {
    margin: 0;

    font-size: 36px;
    line-height: 1.3;
    letter-spacing: -2px;
    text-transform: lowercase;

    color: #00E2B5;
}

.section__subheading {
    display: block;

    font-size: 12px;
    letter-spacing: -0.4px;
    text-transform: uppercase;
}

.section__paragraph {
    margin: 0;
    margin-top: 23px;

    font-size: 21px;
    line-height: 1.4;
}

.session {
    position: relative;

    display: flex;
    margin-top: 15px;

    justify-content: space-between;
    flex-wrap: wrap;

    border-top: 1px solid #00E2B5;
}

.session:first-of-type {
    margin-top: 23px;
}

.session--closed .session__topic,
.session--closed .session__speaker-photo,
.session--closed .session__info {
    display: none;
}

.session__heading {
    width: 100%;
    margin-top: 13px;
}

.session--closed .session__heading {
    width: 90%;
}

.session__time {
    font-weight: bold;
    font-size: 15px;

    color: #00E2B5;
}

.session--closed .session__container {
    cursor: pointer;
}

.session__container:focus {
    outline: 1px solid #00E2B5;
}

.session--closed .session__container:hover {
    color: #FF0195;
}

.session__speaker {
    margin: 0;
    margin-top: 4px;

    font-size: 15px;
    line-height: 1.2;
}

.session--closed .session__speaker {
    margin-top: 2px;
}

.session__topic {
    margin: 0;
    margin-top: 10px;

    font-weight: normal;
    font-size: 15px;
    line-height: 1;
    letter-spacing: 0.1px;
}

.session__toggle {
    position: absolute;
    right: 1px;
    bottom: 14px;

    width: 14px;
    height: 14px;

    background: none;
    border: none;

    cursor: pointer;
}

.session__toggle:focus {
    outline: 1px solid #00E2B5;
}

.session__toggle::before,
.session__toggle::after {
    content: '';

    position: absolute;
    top: 0;
    right: 6px;

    width: 2px;
    height: 14px;

    background: #FF0195;
}

.session__toggle::before {
    transform: rotate(90deg);
}

.session__toggle--hide {
    top: 42px;
}

.session__toggle--hide::before {
    transform: rotate(45deg);
}

.session__toggle--hide::after {
    transform: rotate(-45deg);
}

.session__speaker-photo {
    margin-top: 15px;
}

.session__info {
    width: 73%;
    margin-top: 5px;
    padding-bottom: 10px;

    letter-spacing: 0.1px;
}

.session__description {
    width: 90%;
    margin: 0;
    margin-top: 5px;

    letter-spacing: -0.2px;
}

.session__link {
    display: inline-block;
    margin-top: 9px;

    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.1px;
    text-transform: lowercase;
    text-decoration: none;

    color: #FF0195;
    border-bottom: 1px solid rgba(255, 1, 149, 0.2);
}

.session__link:hover {
    border-bottom-color: rgba(255, 1, 149, 0.3);
}

.session__link:focus {
    border-bottom: none;
    outline: 1px solid #00E2B5;
}

.recreation {
    display: flex;
    margin-top: 15px;

    letter-spacing: -0.1px;

    color: #00E2B5;
    border-top: 1px solid #00E2B5;
}

.recreation__time {
    width: 14%;
    margin-top: 11px;

    font-weight: bold;
}

.recreation__heading {
    margin: 0;
    margin-top: 11px;

    font-size: 12px;
    text-transform: lowercase;
}

.section--gallery {
    margin-top: 53px;
}

.gallery {
    position: relative;

    width: 335px;
    margin-top: 29px;
    margin-right: auto;
    margin-left: auto;

    text-align: center;
}

.gallery__btn {
    position: absolute;
    top: 109px;

    width: 32px;
    height: 32px;

    background: rgba(0, 0, 0, 0.7);
    border: none;
}

.gallery__btn:focus {
    outline: 1px solid #00E2B5;
}

.gallery__btn::before {
    content: '';

    position: absolute;
    top: 10px;
    left: 10px;

    width: 12px;
    height: 12px;

    background: url(../img/icon-arrow.svg) no-repeat 50% 50%;
    background-size: contain;
}

.gallery__btn--back::before {
    transform: rotate(180deg);
}

.gallery__btn--forward {
    right: 0;
}

.gallery__image--hide-on-mobile {
    display: none;
}

.gallery__link {
    display: inline-block;
    margin-top: 17px;

    font-weight: bold;
    line-height: 1.2;
    letter-spacing: -0.1px;
    text-decoration: none;

    color: #FF0195;
    border-bottom: 1px solid rgba(255, 1, 149, 0.2);
}

.gallery__link:hover {
    border-bottom-color: rgba(255, 1, 149, 0.3);
}

.gallery__link:focus {
    border-bottom: none;
    outline: 1px solid #00E2B5;
}

.section--badge {
    margin: 0;
    margin-top: 34px;
    padding-top: 1px;
    padding-bottom: 27px;

    background: #F8F8F8;
}

.section--badge .section__heading {
    width: 90%;
    margin-top: 28px;
    margin-right: auto;
    margin-left: auto;
}

.color-id {
    display: inline-block;
    margin-top: 6px;
    margin-left: 6px;
    padding-top: 7px;
    padding-right: 10px;
    padding-bottom: 7px;
    padding-left: 10px;
    color: white;
    background: #DF665D;
    border-radius: 20px;
}

.form {
    margin-top: 5px;
}

.form__fieldset {
    width: 89%;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 0;

    text-transform: lowercase;

    border: none;
}

.form__fieldset:first-child {
    width: 91%;
}

.form__label {
    display: block;
    width: 98%;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;

    color: #B4BDC7;
}

.form__field:hover .form__label {
    color: #00E2B5;
}

.form__field--wrong:hover .form__label {
    color: #FF6E6E;
}

.form__input {
    display: block;
    width: 98%;
    margin-top: -20px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 7px;

    font-family: 'gotham pro', 'verdana', sans-serif;
    font-size: 15px;

    color: #303B40;
    background: #F8F8F8;
    border: none;
    border-bottom: 1px solid #303B40;
}

.form__input:focus {
    padding-right: 4px;
    padding-left: 4px;
    outline: 2px solid #00E2B5;
}

.form__field:hover .form__input {
    border-bottom-color: #00E2B5;
}

.form__error {
    display: none;
}

.form__field--correct .form__input {
    background: transparent url('../img/icon-check.svg') no-repeat 100% 14px;
    background-size: 24px;
}

.form__field--wrong .form__input {
    background: transparent url('../img/icon-error.svg') no-repeat 100% 14px;
    background-size: 24px;
    border-bottom-color: #FF6E6E;
}

.form__field--wrong:hover .form__input {
    border-bottom-color: #FF6E6E;
}

.form__field--wrong .form__error {
    display: block;
    margin: 0;
    margin-top: 3px;
    margin-left: 1%;

    text-transform: initial;

    color: #FF6E6E;
}

.preview {
    margin-top: 42px;
    padding-top: 1px;

    background: #00E2B5;
}

.preview__card {
    position: relative;
    top: 102px;

    width: 270px;
    margin-top: -59px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 1px;

    text-transform: lowercase;

    background: white ;
    background-image:
        url('../img/logo-slash.svg'),
        url('../img/logo-words.svg');
    background-repeat: no-repeat;
    background-position:
        19px 46px,
        63px 63px;
    background-size:
        43px,
        89px;
    box-shadow: 0 30px 150px -55px black;
}

.preview__card::before {
    content: '';

    position: absolute;
    top: 26px;
    left: 50%;

    width: 15px;
    height: 15px;

    transform: translateX(-50%);

    background: #00E2B5;
    border-radius: 50%;
}

.preview__info {
    margin-top: 121px;
    margin-left: 15px;
}

.preview__card--empty .preview__info {
    display: none;
}

.preview__table-row {
    display: flex;

    flex-direction: column;
}

.preview__cell {
    margin-left: 46px;

    font-size: 15px;
}

.preview__cell--name {
    margin-left: 0;

    font-weight: bold;
    font-size: 18px;
    line-height: 1.3;
}

.preview__cell--company {
    margin-top: 10px;
}

.preview__card-tip {
    display: none;
}

.preview__card--empty .preview__card-tip {
    display: block;
    width: 160px;
    min-height: 112px;
    margin: 0;
    margin-top: 121px;
    margin-left: 63px;

    font-size: 15px;

    color: #B4BDC7;
}

.preview__card--empty .preview__card-tip-color {
    color: #303B40;
}

.preview__stickers-list {
    display: none;
}

.preview__stickers-list--show {
    display: flex;
    width: 230px;
    height: 129px;
    margin: 0;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    box-sizing: border-box;
    overflow-y: scroll;

    flex-wrap: wrap;

    background: #f8f8f8;
    border: 4px solid #f8f8f8;
}

.preview__stickers-item {
    display: flex;
    width: 50%;
    height: 100px;

    justify-content: center;
    align-items: center;

    list-style: none;
}

.preview__link {
    display: inline-block;
    margin-top: 31px;
    margin-left: 20px;

    text-transform: lowercase;
    text-decoration: none;

    color: #FF0195;
}

.preview__link:focus {
    outline: 1px solid #00E2B5;
}

.preview__personal-color {
    position: relative;

    height: 103px;
    margin-top: 15px;

    background: #DF665D;
}

.preview__personal-color::before {
    content: '';

    position: absolute;
    top: -48px;
    right: 17px;

    width: 35px;
    height: 28px;

    background: transparent url('../img/logo-footer.svg') no-repeat 0 0;
    background-size: contain;
}

.form__group--payment-options {
    display: flex;
    margin-top: 147px;

    flex-wrap: wrap;
    justify-content: center;
}

.form__radio {
    display: none;
}

.form__label--payment-options {
    display: flex;
    width: 50%;
    height: 48px;
    margin: 0;
    box-sizing: border-box;

    justify-content: center;
    align-items: center;

    border: 1px solid #B4BDC7;
}

.form__label--payment-options:focus {
    border-color: #F8F8F8;
    outline: 2px solid #00E2B5;
}

.form__label--payment-options svg {
    fill: #B4BDC7;
}

.form__label--payment-options:hover svg {
    fill: #77808A;
}

.form__radio:checked + .form__label--payment-options {
    background: #77808A;
    border-color: #77808A;
}

.form__radio:checked + .form__label--payment-options svg {
    fill: white;
}

.form__label--paypal > svg {
    margin-top: 10px;
    margin-left: 25px;
}

.form__link {
    display: inline-block;
    margin-top: 15px;

    line-height: 1.3;
    text-decoration: none;

    color: #303B40;
    border-bottom: 1px solid rgba(10, 11, 9, 0.2);
}

.form__link:focus {
    border-bottom-color: transparent;
    outline: 1px solid #00E2B5;
}

.form__link:hover {
    color: #FF0195;
    border-bottom-color: rgba(255, 1, 149, 0.3);
}

.form__group--payment-options .form__link:focus {
    box-shadow:
        0 0 0 3px #F8F8F8,
        0 0 0 5px #00E2B5;
    outline: none;
}

.form__group--payment-options .form__link {
    position: relative;

    padding-left: 22px;
}

.form__group--payment-options .form__link::before {
    content: '';

    position: absolute;
    top: -1px;
    left: 0;

    width: 20px;
    height: 20px;

    background: transparent url('../img/icon-info.svg') no-repeat 0 0;
    background-size: 20px;
}

.form__field--code {
    display: none;
}

.form__btn {
    width: 100%;
    margin-top: 39px;
    padding: 0;

    font-family: 'gotham pro', 'verdana', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 3.1;

    color: white;
    background: #FF0195;
    border: none;
}

.form__btn:focus {
    box-shadow:
        0 0 0 2px white,
        0 0 0 4px #00E2B5;
    outline: none;
}

.form__btn:hover {
    background: #FF42B0;
}

.price-info {
    position: relative;

    margin-top: 18px;
}

.price-info__table {
    position: relative;

    width: 100%;

    background: white;
    border: 2px solid #303B40;
}

.price-info__table::before {
    content: '';

    position: absolute;
    top: -7px;
    left: 50%;

    width: 9px;
    height: 9px;

    transform:
        translateX(-50%)
        rotate(-45deg);

    background: white;
    border-top: 2px solid #303B40;
    border-right: 2px solid #303B40;
}

.price-info__table tbody {
    display: flex;
}

.price-info__table-row {
    display: flex;

    flex-direction: column;
}

.price-info__table-row:last-child {
    width: 60%;
}

.price-info__cell {
    padding-top: 2px;
    padding-left: 9px;
}

.price-info__cell--date {
    padding-top: 8px;
}

.price-info__cell--price {
    padding-bottom: 10px;

    font-weight: bold;
    font-size: 15px;
    text-transform: initial;
}

.price-info__cell--future {
    padding-left: 23px;

    color: #B4BDC7;
}

.price-info__close {
    position: absolute;
    top: 12px;
    right: 8px;

    width: 14px;
    height: 14px;

    background: none;
    border: none;

    cursor: pointer;
}

.price-info__close:focus {
    outline: 1px solid #00E2B5;
}

.price-info__close::before,
.price-info__close::after {
    content: '';

    position: absolute;
    top: 0;
    right: 6px;

    width: 2px;
    height: 14px;

    background: #303B40;
}

.price-info__close::before {
    transform: rotate(45deg);
}

.price-info__close::after {
    transform: rotate(-45deg);
}

.form__warning {
    margin: 0;
    margin-top: 5px;

    font-size: 12px;
    letter-spacing: -0.25px;
    text-transform: initial;
    text-align: center;
}

.section--speakers {
    margin-top: 1px;

    font-size: 15px;
}

.speakers__caption {
    margin: 0;
    margin-top: 21px;

    font-size: 21px;
    letter-spacing: -0.3px;
}

.speakers__description {
    margin: 0;
    margin-top: 6px;

    letter-spacing: 0.1px;
}

.speakers__btn {
    display: block;
    margin-top: 13px;

    font-weight: bold;
    line-height: 2.2;
    text-decoration: none;
    text-align: center;

    color: #FF0195;
    border: 2px solid #FF0195;
}

.speakers__btn:focus {
    box-shadow:
        0 0 0 2px white,
        0 0 0 4px #00E2B5;
    outline: none;
}

.speakers__btn:hover {
    color: white;
    background: #FF0195;
}

.rules {
    margin-top: 35px;

    text-align: center;
}

.rules__wrapper {
    padding-top: 11px;
    padding-right: 6%;
    padding-bottom: 20px;
    padding-left: 6%;

    text-align: left;

    background: #F8F8F8;
}

.rules__caption {
    margin: 0;

    font-size: 15px;
}

.rules__description {
    margin: 0;
}

.rules__link {
    display: inline-block;
    margin-top: 15px;

    font-weight: bold;
    font-size: 12px;
    line-height: 1.2;
    text-decoration: none;

    color: #FF0195;
    border-bottom: 1px solid rgba(255, 1, 149, 0.2);
}

.rules__link:focus {
    border-bottom-color: transparent;
    outline: 1px solid #00E2B5;
}

.rules__link:hover {
    border-bottom-color: rgba(255, 1, 149, 0.3);
}

.section--sponsors {
    font-size: 15px;
    text-align: center;
}

.sponsors__description {
    margin: 0;
    margin-top: 21px;
}

.sponsors__cards {
    margin: 0;
    padding: 0;
}

.sponsors__item {
    min-height: 56px;
    margin-top: 35px;

    list-style: none;
}

.sponsors__item:last-child {
    margin-top: 20px;
}

.sponsors__link {
    display: inline-block;

    font-size: 0;
}

.sponsors__link:focus {
    box-shadow:
        0 0 0 2px white,
        0 0 0 4px #00E2B5;
    outline: none;
}

.sponsors__btn {
    display: block;
    margin-top: 22px;

    font-weight: bold;
    line-height: 2.2;
    text-decoration: none;
    text-align: center;

    color: #FF0195;
    border: 2px solid #FF0195;
}

.sponsors__btn:focus {
    box-shadow:
        0 0 0 2px white,
        0 0 0 4px #00E2B5;
    outline: none;
}

.sponsors__btn:hover {
    color: white;
    background: #FF0195;
}

.footer {
    margin-top: 47px;
    margin-bottom: 35px;

    border-top: 1px solid rgba(48, 59, 64, 0.2);
}

.footer__content {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.form-subscribe {
    margin-top: 17px;

    letter-spacing: -0.3px;
}

.form-subscribe__field {
    margin-top: -2px;
}

.form-subscribe__input {
    width: 69%;
    margin-right: 2%;
    padding: 0;

    font-family: 'gotham pro', 'verdana', sans-serif;
    line-height: 2;

    border: none;
    border-bottom: 1px solid #B4BDC7;
}

.form-subscribe__input:focus {
    border-bottom-color: transparent;
    box-shadow:
        0 0 0 2px white,
        0 0 0 4px #00E2B5;
    outline: none;
}

.form-subscribe__input:hover {
    border-bottom-color: #00E2B5;
}

.form-subscribe__input:-moz-placeholder {
  color: #B4BDC7;
}

.form-subscribe__input::-moz-placeholder {
  color: #B4BDC7;
}

.form-subscribe__input::-webkit-input-placeholder {
  color: #B4BDC7;
}

.form-subscribe__input:-ms-input-placeholder {
  color: #B4BDC7;
}

.form-subscribe__input:hover:-moz-placeholder {
  color: #00E2B5;
}

.form-subscribe__input:hover::-moz-placeholder {
  color: #00E2B5;
}

.form-subscribe__input:hover::-webkit-input-placeholder {
  color: #00E2B5;
}

.form-subscribe__input:hover:-ms-input-placeholder {
  color: #00E2B5;
}

.form-subscribe__btn {
    width: 28%;

    font-family: 'gotham pro', 'verdana', sans-serif;
    font-weight: bold;
    line-height: 2;

    color: #B4BDC7;
    background: white;
    border: 1px solid #B4BDC7;
}

.form-subscribe__btn:focus {
    box-shadow:
        0 0 0 2px white,
        0 0 0 4px #00E2B5;
    outline: none;
}

.form-subscribe__btn:hover {
    color: white;
    background: #B4BDC7;
}

.social {
    display: flex;
    margin: 0;
    margin-top: 16px;
    padding: 0;

    flex-wrap: wrap;
    justify-content: flex-end;
}

.social__item {
    display: flex;
    margin-top: 2px;
    margin-left: 15px;

    align-items: center;

    list-style: none;
    font-size: 0;
}

.social__item:first-child {
    width: 100%;
    margin: 0;

    font-size: 12px;
}

.social__link {
    display: inline-block;

    text-decoration: none;

    color: #77808A;
}

.social__link:focus {
    outline: 1px solid #00E2B5;
}

.social__link:hover {
    color: #FF0195;
}

.social__link svg {
    fill: #B4BDC7;
}

.social__link:hover svg {
    fill: #FF0195;
}

.footer-info {
    width: 90%;
    margin-top: -27px;
    margin-right: auto;
    margin-left: auto;
}

.footer-info__list {
    margin: 0;
    padding: 0;
}

.footer-info__item {
    margin-top: 7px;

    list-style: none;
}

.footer-info__link {
    display: inline-block;

    line-height: 1.2;
    text-decoration: none;

    color: #303B40;
    border-bottom: 1px solid rgba(10, 11, 9, 0.2);
}

.footer-info__link:focus {
    box-shadow:
        0 0 0 1px white,
        0 0 0 2px #00E2B5;
    outline: none;
}

.footer-info__link:hover {
    color: #FF0195;
    border-bottom-color: rgba(255, 1, 149, 0.3);
}

.footer-info__copyright {
    margin: 0;
    margin-top: 19px;

    letter-spacing: -0.1px;

    color: #B4BDC7;
}

.footer__logo {
    width: 90%;
    margin-top: -34px;
    margin-right: auto;
    margin-left: auto;

    font-size: 0;
    text-align: right;
}

.footer__logo-link:focus {
    outline: 1px solid #00E2B5;
}

@media (min-width: 720px) {
    .main-header__main-nav {
        width: 81%;
        margin-right: auto;
        margin-left: auto;

        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .main-header__logo-container {
        max-width: 31%;
        height: 31px;
        margin-left: 0;

        flex-wrap: wrap;
        align-content: space-between;
    }

    .main-header__logo img {
        width: 89px;
        height: 19px;
    }

    .main-header__time {
        margin-left: 31px;

        line-height: 1;
    }

    .main-header__days {
        display: inline;
    }

    .main-header__place {
        display: block;
    }

    .main-header__place-link {
        position: relative;

        display: inline-block;
        max-width: 59px;
        padding-bottom: 8px;

        font-size: 7px;
        line-height: 1.7;
        letter-spacing: -0.1px;
        text-decoration: none;

        color: #1E1F1D;
        border: 1px solid transparent;
    }

    .main-header__place-link::before {
        content: '';

        position: absolute;
        top: -1px;
        left: -11px;

        width: 9px;
        height: 17px;

        background: url(../img/icon-place.svg) no-repeat 0 1px;
        background-size: 6px;
        border: 1px solid transparent;
    }

    .main-header__place-link:focus {
        border-color: #00E2B5;
        outline: none;
    }

    .main-header__place-link:focus::before {
        border-color: #00E2B5;
        border-right-color: white;
    }

    .main-header__place-link:hover {
        color: #FF0195;
    }

    .main-header__buy {
        margin: 0;

        order: 1;
    }

    .main-header__btn {
        padding-left: 38px;
        padding-right: 16px;

        font-size: 10px;
        line-height: 2.4;
        letter-spacing: -0.1px;
    }

    .main-header__btn::before {
        top: 8px;
        left: 15px;

        width: 16px;
        height: 9px;
    }

    .main-header__price-in-other-currencies {
        display: block;
        margin-top: 4px;

        font-size: 7px;
        line-height: 1;
        letter-spacing: 0.1px;

        color: #FF0195;
    }

    .main-header__menu-list {
        display: flex;
        width: auto;
        margin: 0;
        margin-left: auto;
        padding-top: 6px;
        padding-right: 2%;
        padding-bottom: 0px;
        padding-left: 2%;

        align-self: flex-start;

        font-size: 8px;

        border: none;
    }

    .main-header__menu-item--active {
        border-radius: 10px;
    }

    .summary {
        margin-top: 8px;
        border-top: 1px solid #D6D8D9;
    }
}
