@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/gotham-pro-bold.woff2') format('woff2'),
        url('../fonts/gotham-pro-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: optional;
}

/* Page */

.page {
    margin: 0;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Gotham Pro', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

/* Open */

.open {
    position: fixed;
    top: 20px;
    left: 100px;
    z-index: 1;
}

.open__quote {
    position: absolute;
    top: 0;
    left: -10px;
    transform: translateX(-100%);
    height: 50px;
}

.open__title {
    margin: 0;
    padding: 0;
    line-height: 1.14;
    font-size: 25px;
    margin-bottom: 5px;
}

.open__text {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 12px;
}

@media (min-width: 480px) {
    .open {
        top: 30px;
        left: 145px;
    }

    .open__quote {
        left: -15px;
        height: 70px;
    }

    .open__title {
        font-size: 35px;
        margin-bottom: 10px;
    }

    .open__text {
        font-size: 16px;
    }
}

@media (min-width: 640px) {
    .open {
        top: 40px;
        left: 190px;
    }

    .open__quote {
        left: -20px;
        height: 90px;
    }

    .open__title {
        font-size: 47px;
        margin-bottom: 15px;
    }

    .open__text {
        font-size: 21px;
    }
}

/* Player */

.player {
    background: #000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.player__embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
    .player__embed {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .player__embed {
        width: 300%;
        left: -100%;
    }
}

/* Close */

.close {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 20;
}

.close__quote {
    display: block;
    height: 50px;
}

@media (min-width: 480px) {
    .close {
        bottom: 30px;
        right: 30px;
    }

    .close__quote {
        height: 70px;
    }
}

@media (min-width: 640px) {
    .close {
        bottom: 40px;
        right: 40px;
    }

    .close__quote {
        height: 90px;
    }
}
