:root {
  --charcoal-grey: #303b40;
  --neon-pink: #ff0195;
  --aquamarine: #00e2b5;
  --white: #ffffff;

  --text-color: var(--charcoal-grey);
  --primary-color: var(--aquamarine);
  --secondary-color: var(--neon-pink);
  --text-second-color: var(--white);

  --main-font-size: 12px;
  --second-font-size: 15px;
  --main-font-size-desktop: 14px;
  --second-font-size-desktop: 20px;
  --font-stack: "gotham pro", "verdana", sans-serif;
  --main-line-height: 1.5;
}


@custom-media --small-device (min-width: 460px);
@custom-media --tablet (min-width: 768px);
@custom-media --desktop (min-width: 1024px);
@custom-media --medium-desktop (min-width: 1280px);
@custom-media --large-desktop (min-width: 1440px);

