.color-id {
    display: inline-block;
    margin-top: 6px;
    margin-left: 6px;
    padding-top: 7px;
    padding-right: 10px;
    padding-bottom: 7px;
    padding-left: 10px;
    color: white;
    background: #DF665D;
    border-radius: 20px;
}

@media (min-width: 720px) {
    .color-id {
        margin-top: 12px;
        margin-left: 1px;
        padding-top: 6px;
        padding-right: 9px;
        padding-bottom: 6px;
        padding-left: 9px;

        line-height: 1;
        letter-spacing: -0.4px;
    }
}
