.cols {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cols > ul > li {
  position: relative;
}

.cols > ul > li::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -14px;
  display: block;
  width: 6px;
  height: 6px;
  background-color: #00e2b5;
}

.cols .cols__item h2 {
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: -0.1px;
  padding-top: 15px;
  margin: 0;
}

.cols__item {
  background-color: #f6f6f6;
  padding-left: 18px;
  padding-bottom: 5px;
  margin-bottom: 25px;
  padding-right: 19px;
}

.cols--nowrap {
  flex-wrap: nowrap;
}

@media (min-width: 1024px) {
  .cols__item {
    width: 400px;
    margin-bottom: 100px;
    padding-left: 24px;
    padding-right: 28px;
  }

  .cols .cols__item h2 {
    font-size: 20px;
    line-height: 1.6;
  }

  .cols .cols__item + a {
    position: absolute;
    right: -100px;
    font-size: 20px;
  }

  .cols .cols__small {
    width: 25%;
  }

  .cols .cols__medium {
    width: 50%;
  }

  .cols .cols__list {
    font-weight: 400;
    padding-right: 10%;
    line-height: 1.6;
  }

  .cols .cols__list li {
    margin-bottom: 15px;
    margin-top: 7px;
  }

  .cols > ul > li::before {
    width: 6px;
    height: 6px;
    top: 20px;
  }

  .cols .cols__list li::before {
    top: 12px;
  }

  .cols--center {
    max-width: 1280px;
    margin: 0 auto;
  }
}
