@media (--desktop) {
  .gallery {
    display: flex;

    justify-content: space-between;
    flex-wrap: wrap;

    font-size: 0;
  }

  .gallery__image {
    width: 32.5%;
    margin-top: 12px;

    background: #00E2B5;
  }

  .gallery__image--two-cells {
    width: 66.5%;
  }

  .gallery__image--three-cells {
    width: 100%;
  }

  .gallery__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gallery__image img:hover {
    opacity: 0.5;
    filter: grayscale(1);
  }

  .gallery__link {
    display: flex;
    width: 174px;
    margin-top: 12px;
    margin-right: auto;
    margin-left: auto;

    align-items: center;

    font-weight: bold;
    font-size: 26px;
    line-height: 1.4;
    text-align: center;

    color: #FF0195;
    background: transparent url("") no-repeat 0 0;
  }

  .gallery__link:hover {
    text-decoration: underline solid rgba(255, 1, 149, 0.5);
    text-decoration-skip: ink;
  }

  .gallery__link:focus {
    outline: 4px solid #00E2B5;
  }

  @supports (display: grid) {
    .gallery {
      display: grid;

      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-gap: 12px;
    }

    .gallery__image {
      width: 100%;
      margin-top: 0;
    }

    .gallery__image--two-cells {
      grid-column: auto / span 2;
    }

    .gallery__image--three-cells {
      grid-column: auto / span 3;
    }

    .gallery__link {
      margin: 0;

      justify-self: center;
    }
  }
}
