.gallery {
  position: relative;

  width: 335px;
  margin-top: 27px;
  margin-right: auto;
  margin-left: auto;

  font-size: 0;
  text-align: center;
}

.gallery__button {
  position: absolute;
  top: 109px;
  z-index: 1;

  display: none;
  width: 32px;
  height: 32px;

  background: rgba(0, 0, 0, 0.7);
  border: none;
}

.gallery__button::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 10px;

  width: 12px;
  height: 12px;

  background: transparent url("../img/icon-arrow.svg") no-repeat 50% 50%;
  background-size: contain;
}

.gallery--transformable .gallery__button {
  display: block;
}

.gallery__button:focus {
  background: rgba(0, 226, 181, 0.7);
  outline: none;
}

.gallery__button--prev {
  left: 0;
}

.gallery__button--prev::before {
  transform: rotate(180deg);
}

.gallery__button--next {
  right: 0;
}

.gallery__item {
  display: none;
  height: 250px;
  margin: 0;

  background: var(--primary-color);
}

.gallery__item--show {
  display: block;
}

.gallery__link:focus {
  outline: 4px solid var(--primary-color);
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__link .gallery__image:hover {
  opacity: 0.5;
  filter: grayscale(1);
}

.gallery__more {
  display: inline-block;
  margin-top: 22px;

  font-weight: bold;
  font-size: var(--main-font-size);
  line-height: 1.2;
  text-decoration: none;

  color: var(--secondary-color);
  border-bottom: 1px solid rgba(255, 1, 149, 0.2);
}

.gallery__more:hover {
  border-bottom-color: rgba(255, 1, 149, 0.3);
}

.gallery__more:focus {
  border-bottom: none;
  outline: 1px solid var(--primary-color);
}

.gallery__note {
  margin-top: 10px;

  font-size: var(--main-font-size);
}

@media (--tablet) {
  .gallery--transformable {
    display: flex;
    width: 99%;
    margin-top: -10px;
    margin-right: auto;
    margin-left: auto;

    justify-content: space-between;
    flex-wrap: wrap;
  }

  .gallery--transformable .gallery__button {
    display: none;
  }

  .gallery--transformable .gallery__item {
    display: block;
    width: 32%;
    height: auto;
    margin-top: 24px;
  }

  .gallery--transformable .gallery__item--two-cells {
    width: 66%;
  }

  .gallery--transformable .gallery__item--three-cells {
    width: 100%;
  }

  .gallery--transformable .gallery__more {
    display: flex;
    width: 174px;
    margin-top: 24px;
    margin-right: auto;
    margin-left: auto;

    align-items: center;

    font-size: 26px;
    line-height: 1.4;
    text-align: center;

    background: transparent url("") no-repeat 0 0;
    border: none;
  }

  .gallery--transformable .gallery__more:hover {
    text-decoration: underline solid rgba(255, 1, 149, 0.5);
    text-decoration-skip: ink;
  }

  .gallery--transformable .gallery__more:focus {
    outline: 4px solid var(--primary-color);
  }

  @supports (display: grid) {
    .gallery--transformable {
      display: grid;
      margin-top: 38px;

      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-gap: 24px;
    }

    .gallery--transformable .gallery__item {
      width: 100%;
      height: 100%;
      margin-top: 0;
    }

    .gallery--transformable .gallery__item--two-cells {
      grid-column: auto / span 2;
    }

    .gallery--transformable .gallery__item--three-cells {
      grid-column: auto / span 3;
    }

    .gallery--transformable .gallery__more {
      margin: 0;

      justify-self: center;
    }
  }
}

@media (--desktop) {
  .gallery {
    width: 840px;
  }

  .gallery--transformable {
    width: 99%;
  }

  .gallery__item {
    height: 450px;
  }

  .gallery__button {
    display: block;

    top: 225px;
  }
}
