.grey-block {
  margin-top: 35px;

  text-align: center;
}

.grey-block__wrapper {
  padding-top: 11px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;

  text-align: left;

  background: #F8F8F8;
}

.grey-block__caption {
  margin: 0;

  font-size: var(--second-font-size);
}

.grey-block__description {
  margin: 0;
}

.grey-block__link {
  display: inline-block;
  margin-top: var(--second-font-size);

  font-weight: bold;
  font-size: var(--main-font-size);
  line-height: 1.2;
  text-decoration: none;

  color: var(--secondary-color);
  border-bottom: 1px solid rgba(255, 1, 149, 0.2);
}

.grey-block__link:focus {
  border-bottom-color: transparent;
  outline: 1px solid var(--primary-color);
}

.grey-block__link:hover {
  border-bottom-color: rgba(255, 1, 149, 0.3);
}

@media (--desktop) {
  .grey-block__link {
    font-size: 20px;
  }
}

@media (--large-desktop) {
  .grey-block {
    width: 49%;
    margin-top: 0;

    text-align: left;
  }

  .grey-block__wrapper {
    padding-top: 20px;
    padding-right: 4%;
    padding-bottom: 32px;
    padding-left: 4%;
  }

  .grey-block__description {
    font-size: 20px;
  }

  .grey-block__caption {
    font-size: 20px;
  }

  .grey-block__link {
    margin-top: 20px;

    border-bottom: none;
  }
}
