.header {
    margin-top: 12px;
}

.header__container {
    display: flex;

    flex-wrap: wrap;
}

.header__logo-container {
    display: flex;
    margin-left: 5.5%;

    flex-grow: 1;
    flex-direction: column;
}

.header__logo img {
    width: 106px;
    height: 22px;
}

.header__time {
    margin-left: 38px;

    font-size: 7px;
    line-height: 1.9;

    color: #1E1F1D;
}

.header__days {
    display: none;
}

.header__place {
    display: none;
}

.header__buy {
    margin-top: 2px;
    margin-right: 5%;
}

.header__btn {
    position: relative;

    display: block;
    padding-left: 60px;
    padding-right: 29px;

    font-weight: bold;
    font-size: 15px;
    line-height: 2.5;
    text-decoration: none;
    text-align: center;

    color: white;
    background: #FF0195;
}

.header__btn:focus {
    box-shadow:
        0 0 0 2px white,
        0 0 0 4px #00E2B5;
    outline: none;
}

.header__btn:hover {
    background: #FF42B0;
}

.header__btn::before {
    content: '';

    position: absolute;
    top: 13px;
    left: 26px;

    width: 22px;
    height: 13px;

    background: transparent url('../img/icon-ticket.svg') no-repeat 0 0;
    background-size: contain;
}

.header__price-in-other-currencies {
    display: none;
}

.header__menu-list {
    display: flex;
    width: 100%;
    margin: 0;
    margin-top: 13px;
    padding-top: 15px;
    padding-right: 10%;
    padding-bottom: 16px;
    padding-left: 5.5%;

    justify-content: space-between;

    border-top: 1px solid rgba(48, 59, 64, 0.2);
}

.header__menu-item {
    margin-right: 0.5%;
    padding-top: 7px;
    padding-right: 6px;
    padding-bottom: 6px;
    padding-left: 6px;

    list-style: none;
}

.header__menu-item--active {
    background: #00E2B5;
}

.header__menu-item--active .header__menu-link {
    color: white;
}

.header__menu-item--active .header__menu-link:hover {
    color: white;
}

.header__menu-link {
    display: block;
    line-height: 1;

    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;

    color: #303B40;
}

.header__menu-link:focus {
    outline: 1px solid #00E2B5;
}

.header__menu-link:hover {
    color: #FF0195;
}

@media (min-width: 1024px) {
    .header {
        margin-top: 25px;
    }

    .header__container {
        width: 81%;
        margin-right: auto;
        margin-left: auto;

        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .header__logo-container {
        height: 85px;
        margin-left: 0;

        flex-wrap: wrap;
        align-content: space-between;
    }

    .header__logo img {
        width: 150px;
        height: 32px;
    }

    .header__time {
        margin-left: 53px;

        font-size: 14px;
        line-height: 1.5;
    }

    .header__days {
        display: inline;
    }

    .header__buy {
        margin: 0;

        order: 1;
    }

    .header__btn {
        padding-left: 76px;
        padding-right: 32px;

        font-size: 20px;
        line-height: 2.4;
    }

    .header__btn::before {
        top: 16px;
        left: 30px;

        width: 32px;
        height: 18px;
    }

    .header__price-in-other-currencies {
        display: block;
        margin-top: 8px;

        font-size: 14px;
        line-height: 1;

        color: #FF0195;
    }

    .header__menu-list {
        display: flex;
        width: auto;
        margin: 0;
        margin-left: auto;
        padding-top: 12px;
        padding-right: 2%;
        padding-bottom: 0px;
        padding-left: 2%;

        align-self: flex-start;

        font-size: 14px;

        border: none;
    }

    .header__menu-item {
        padding-top: 10px;
        padding-right: 13px;
        padding-bottom: 10px;
        padding-left: 13px;
    }

    .header__menu-item--active {
        border-radius: 20px;
    }
}

@media (min-width: 1280px) {
    .header__logo-container {
        max-width: 350px;
    }

    .header__place {
        display: block;
        height: 100%;
    }

    .header__place-link {
        position: relative;

        display: inline-block;
        max-width: 123px;
        padding-bottom: 16px;

        font-size: 14px;
        line-height: 1.5;
        text-decoration: none;

        color: #1E1F1D;
        border: 2px solid transparent;
    }

    .header__place-link::before {
        content: '';

        position: absolute;
        top: -2px;
        left: -20px;

        width: 18px;
        height: 34px;

        background: url('../img/icon-place.svg') no-repeat 0 2px;
        background-size: 12px;
        border: 2px solid transparent;
    }

    .header__place-link:focus {
        border-color: #00E2B5;
        outline: none;
    }

    .header__place-link:focus::before {
        border-color: #00E2B5;
        border-right-color: white;
    }

    .header__place-link:hover {
        color: #FF0195;
    }
}

@media (min-width: 1440px) {
    .header__logo-container {
        max-width: 31%;
    }

    .header__logo img {
        width: 178px;
        height: 38px;
    }

    .header__menu-list {
        font-size: 16px;
    }
}
