.page {
  margin-right: 19px;
  margin-left: 19px;
}

.page h1 {
  font-size: 36px;
  line-height: 1.2;
  color: #00e2b5;
  margin-top: 25px;
  margin-bottom: 10px;
}

.page h2 {
  font-size: 21px;
  line-height: 1.4;
  margin: 0;
  margin-bottom: 17px;
}

.page h3 {
  font-size: 18px;
  line-height: 1.4;
  margin: 0;
  padding-right: 5px;
  margin-bottom: 12px;
}

.page h4 {
  font-size: 15px;
  line-height: 1.4;
  margin: 0;
}

.page p {
  font-size: 15px;
  margin: 0;
  margin-bottom: 15px;
}

.page .lead {
  font-size: 21px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.page .small {
  font-size: 12px;
}

.page a {
  font-size: 15px;
  line-height: 1;
  color: #ff0195;
  padding-bottom: 5px;
}

.page a:hover {
  background-image: linear-gradient(#ffffff 0%, #ffffff 95%, rgba(255,1,149,0.2) 95%, rgba(255,1,149,0.2) 100%);
}

.page mark {
  background-image: linear-gradient(#ffffff 10%, #00e2b5 10%, #00e2b5 80%, #ffffff 100%);
}

.page strong,
.page b {
  font-weight: 700;
}

.page blockquote {
  position: relative;
  margin: 0;
  padding-left: 30px;
  padding-right: 15px;
  padding-bottom: 35px;
  font-weight: bold;
}

.page blockquote p::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 13px;
  height: 11px;
  background: transparent url("../img/quotes-open.svg") no-repeat 50% 50%;
  background-size: contain;
  margin-left: 5px;
  margin-top: 5px;
}

.page blockquote p::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 11px;
  background: transparent url("../img/quotes-closed.svg") no-repeat 50% 50%;
  background-size: 100%;
  margin-top: 7px;
  margin-left: 7px;
}

.page blockquote cite {
  font-size: 12px;
  display: block;
  font-style: normal;
  line-height: 1;
  margin-top: 5px;
}

.page .quote-lead {
  padding-bottom: 25px;
}

.page .quote-lead p {
  font-size: 21px;
  font-weight: 700;
  line-height: 1.4;
}

.page .quote-lead p::before {
  width: 21px;
  height: 17px;
  margin-left: 0;
}

.page .quote-lead p::after {
  width: 21px;
  height: 17px;
}

.page .quote-lead cite {
  font-size: 18px;
  display: block;
  font-style: normal;
  line-height: 1.3;
  padding-top: 10px;
}

.page .quote-medium {
  padding-bottom: 30px;
}

.page .quote-medium p {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
}

.page .quote-medium p::before {
  width: 15px;
  height: 13px;
  margin-left: 2px;
}

.page .quote-medium p::after {
  width: 15px;
  height: 13px;
  margin-top: 5px;
}

.page .quote-medium cite {
  font-size: 15px;
  display: block;
  font-style: normal;
  line-height: 1.5;
}

.page figcaption {
  padding-top: 5px;
}

.page figure {
  margin: 0 auto;
  margin-bottom: 20px;
}

.page figure img {
  width: 100%;
}

.page ol {
  padding-left: 25px;
  margin: 0;
  font-size: 15px;
  line-height: 2;
  font-weight: bold;
}

.page ol ul,
.page ul ul {
  font-size: 12px;
  line-height: 1.8;
  font-weight: normal;
  margin: 0;
  padding-left: 15px;
  list-style-type: none;
  margin-bottom: 30px;
}

.page ul {
  list-style-type: none;
  font-size: 15px;
  font-weight: bold;
  margin: 0;
  line-height: 2;
  padding-left: 15px;
}

.page ul li {
  position: relative;
}

.page ul li::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -14px;
  display: block;
  width: 6px;
  height: 6px;
  background-color: #00e2b5;
}

.page table {
  text-align: left;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}
.page table th {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.9;
  text-align: left;
}

.page table tr:first-child th {
  color: #00e2b5;
  font-size: 15px;
  line-height: 1.4;
  font-weight: 700;
  padding-bottom: 7px;
}

.page table tr:first-child th:not(:first-child) {
  text-align: right;
  padding-right: 10px;
}

.page table tr:first-child {
  border-bottom: 1px solid #00e2b5;
}

.page table td {
  font-size: 15px;
  line-height: 1.9;
  text-align: right;
}

.page img {
  display: block;
}

  .page .img-right {
    float: right;
    margin-left: 30px;
  }

  .page .img-left {
    float: left;
    margin-right: 30px;
    margin-bottom: 7px;
  }

@media (--desktop) {

  .page__content {
    width: 840px;
    margin: 0 auto;
    position: relative;
  }

  .page h1 {
    font-size: 86px;
  }

  .page h2 {
    font-size: 34px;
  }

  .page h3 {
    font-size: 26px;
  }

  .page h4 {
    font-size: 20px;
  }

  .page p{
    font-size: 20px;
  }

  .page .lead {
    font-size: 34px;
  }

  .page .small {
    font-size: 14px;
    line-height: 1.7;
  }

  .page a {
    font-size: 20px;
  }

  .page blockquote {
    padding-bottom: 80px;
    padding-right: 100px;
    padding-left: 90px;
  }

  .page blockquote p {
    font-size: 20px;
  }

  .page blockquote p::before {
    width: 26px;
    height: 22px;
    margin-left: 40px;
  }

  .page blockquote p::after {
    width: 26px;
    height: 22px;
    margin-left: 20px;
  }

  .page blockquote cite {
    font-size: 16px;
  }

  .page .quote-lead  {
    padding-bottom: 50px;
    padding-top: 35px;
  }

  .page .quote-lead p {
    font-size: 34px;
  }

  .page .quote-lead p::before {
    width: 42px;
    height: 34px;
    margin-top: 35px;
    margin-left: 20px;
  }

  .page .quote-lead p::after {
    width: 42px;
    height: 34px;
  }

  .page .quote-lead cite {
    font-size: 26px;
  }

  .page .quote-medium {
    padding-bottom: 60px;
  }

  .page .quote-medium p {
    font-size: 26px;
  }

  .page .quote-medium p::before {
    width: 30px;
    height: 26px;
    margin-left: 30px;
  }

  .page .quote-medium p::after {
    width: 30px;
    height: 26px;
  }

  .page .quote-medium cite {
    font-size: 20px;
  }

  .page figure {
    max-width: 1280px;
    margin-bottom: 35px;
  }

  .page figcaption {
    font-size: 14px;
    line-height: 1.7;
    padding-top: 15px;
  }

  .page ol {
    font-size: 20px;
    line-height: 2.4;
  }

  .page ul {
    font-size: 20px;
    line-height: 2.4;
  }

  .page ol ul {
    font-size: 14px;
    line-height: 2.1;
  }

  .page ul ul {
    font-size: 14px;
    line-height: 2.1;
  }

  .page table {
    width: 550px;
    position: relative;
    margin-bottom: 80px;
    margin-top: 80px;
  }

  .page table th  {
    font-size: 20px;
    line-height: 2.4;
  }

  .page table tr:first-child th {
    font-size: 20px;
    line-height: 1.5;
  }

  .page table td {
    font-size: 20px;
    line-height: 2.4;
  }

  .page table tr:first-child th:not(:first-child) {
    padding-right: 0;
  }
}
