.page {
    margin-right: 19px;
    margin-left: 19px;
}

.page h1 {
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -2.2px;
    color: #00e2b5;
    margin-top: 25px;
    margin-bottom: 10px;

}

.page h2 {
    font-size: 21px;
    line-height: 1.4;
    letter-spacing: -0.3px;
    margin: 0;
    margin-bottom: 17px;
}

.page h3 {
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: -0.2px;
    margin: 0;
    padding-right: 5px;
    margin-bottom: 12px;
}

.page h4 {
    font-size: 15px;
    line-height: 1.4;
    letter-spacing: -0.1px;
    margin: 0;
}

.page p {
    font-size: 15px;
    letter-spacing: -0.1px;
    margin: 0;
    margin-bottom: 15px;
}

.page .page__lead{
    font-size: 21px;
    letter-spacing: -0.3px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.page a {
    font-size: 15px;
    line-height: 1;
    color: #ff0195;
    padding-bottom: 5px;
}

.page a:hover {
    background-image: linear-gradient(#ffffff 0%, #ffffff 95%, rgba(255,1,149,0.2) 95%, rgba(255,1,149,0.2) 100%);
}

.page mark {
    background-image: linear-gradient(#ffffff 10%, #00e2b5 10%, #00e2b5 80%, #ffffff 100%);
    letter-spacing: -0.1px;
}

.page strong {
    font-weight: 700;
}

.page figcaption {
    letter-spacing: 0.1px;
    padding-top: 5px;
}

.page figure {
    margin: 0 auto;
    margin-bottom: 20px;
}

.page figure img {
     width: 100%;
}

.page  ol {
    padding-left: 15px;
    margin: 0;
    font-size: 15px;
    line-height: 2;
    letter-spacing: -0.2px;
    font-weight: bold;
}

.page  ol ul,
.page  ul ul {
    font-size: 12px;
    line-height: 1.8;
    font-weight: normal;
    margin: 0;
    padding-left: 15px;
    list-style-type: none;
    margin-bottom: 30px;
}

.page ul {
    list-style-type: none;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    line-height: 2;
    letter-spacing: -0.2px;
    padding-left: 15px;
}

.page table {
    text-align: left;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}
.page table tr th  {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.9;
    text-align: left;
}

.page table tr:first-child th {
    color: #00e2b5;
    font-size: 15px;
    line-height: 1.4;
    font-weight: 700;
    padding-bottom: 7px;
}

.page table tr:first-child th:not(:first-child) {
    text-align: right;
    padding-right: 10px;
}

.page table tr:first-child {
    border-bottom: 1px solid #00e2b5;
}

.page table td {
    font-size: 15px;
    line-height: 1.9;
    text-align: right;
}

.page  ol:nth-of-type(2) {
    padding-top: 10px;
}


.page img {
    display: block;
}

@media (min-width: 720px) {

    .page__content {
        width: 840px;
        margin: 0 auto;
        position: relative;
    }

    .page h1 {
        font-size: 86px;
    }

    .page h2 {
        font-size: 34px;
    }

    .page h3 {
        font-size: 26px;
    }

    .page h4 {
        font-size: 20px;
        letter-spacing: normal;
    }

    .page p{
        font-size: 20px;
    }

    .page .page__lead {
        font-size: 34px;
    }

    .page figure {
        width: 1280px;
        margin-bottom: 35px;
    }

    .page figcaption {
        font-size: 14px;
        line-height: 1.7;
        padding-top: 15px;
    }

    .page ol {
        width: 300px;
        font-size: 20px;
        line-height: 2.4;
    }

    .page ul {
        width: 300px;
        font-size: 20px;
        line-height: 2.4;
    }

    .page  ol ul {
        font-size: 14px;
        line-height: 2.1;
    }

    .page  ul ul {
        font-size: 14px;
        line-height: 2.1;
    }

    .page table {
        width: 550px;
        position: relative;
        margin-bottom: 80px;
        margin-top: 80px;
    }

    .page table tr th  {
        font-size: 20px;
        line-height: 2.4;
    }

    .page table tr:first-child th {
        font-size: 20px;
        line-height: 1.5;
    }

    .page table td {
        font-size: 20px;
        line-height: 2.4;
    }

    .page table tr:first-child th:not(:first-child) {
        padding-right: 0;
    }

    .page .page__content table + a {
        position: absolute;
        top: 40px;
        right: 18px;
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 16px;
        padding-bottom: 16px;
        font-size: 20px;
        font-weight: 700;
        background-color: #ffffff;
        color: #ff0195;
        background-image: none;
        outline: 2px solid #ff0195;
    }

    .page .page__content table + a:hover {
        background-color: #ff42b0;
        outline: 2px solid #ff42b0;
        color: #ffffff;
    }

    .page .page__content table + a:active {
        background-color: #ec058c;
        outline: 2px solid #ec058c;
    }

    .page__description img:first-child {
        float: left;
        margin-right: 30px;
        margin-bottom: 7px;
    }

    .page__description img:nth-child(4) {
        float: right;
        margin-left: 30px;
    }
}
