.paragraph {
  font-size: var(--second-font-size);
  margin: 0;
  margin-bottom: 15px;
}

.paragraph--lead {
  font-size: 21px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.paragraph--small {
  font-size: var(--main-font-size);
}

.paragraph__link {
  font-size: var(--second-font-size);
  line-height: 1;
  color: var(--secondary-color);
  padding-bottom: 5px;
}

.paragraph__link:hover {
  background-image: linear-gradient(#ffffff 0%, #ffffff 95%, rgba(255,1,149,0.2) 95%, rgba(255,1,149,0.2) 100%);
}
@media (--desktop) {
  .paragraph {
    font-size: var(--second-font-size-desktop);
  }

  .paragraph--lead {
    font-size: 34px;
  }

  .paragraph--small {
    font-size: var(--main-font-size-desktop);
    line-height: 1.7;
  }

  .paragraph__link {
    font-size: var(--second-font-size-desktop);
  }
}
