.price-info {
    position: relative;

    margin-top: 18px;
}

.price-info__table {
    position: relative;

    width: 100%;

    background: white;
    border: 2px solid #303B40;
}

.price-info__table::before {
    content: '';

    position: absolute;
    top: -7px;
    left: 50%;

    width: 9px;
    height: 9px;

    transform:
        translateX(-50%)
        rotate(-45deg);

    background: white;
    border-top: 2px solid #303B40;
    border-right: 2px solid #303B40;
}

.price-info__table tbody {
    display: flex;

    justify-content: space-between;
}

.price-info__table-row {
    display: flex;

    flex-direction: column;
}

.price-info__table-row:last-child {
    width: 60%;
}

.price-info__cell {
    padding-top: 2px;
    padding-left: 9px;
}

.price-info__cell--date {
    padding-top: 8px;
}

.price-info__cell--price {
    padding-bottom: 10px;

    font-weight: bold;
    font-size: 15px;
    text-transform: initial;
}

.price-info__cell--future {
    padding-left: 23px;

    color: #B4BDC7;
}

.price-info__close {
    position: absolute;
    top: 12px;
    right: 8px;

    width: 14px;
    height: 14px;

    background: none;
    border: none;

    cursor: pointer;
}

.price-info__close:focus {
    outline: 1px solid #00E2B5;
}

.price-info__close::before,
.price-info__close::after {
    content: '';

    position: absolute;
    top: 0;
    right: 6px;

    width: 2px;
    height: 14px;

    background: #303B40;
}

.price-info__close::before {
    transform: rotate(45deg);
}

.price-info__close::after {
    transform: rotate(-45deg);
}

@media (min-width: 720px) {
    .price-info {
        margin-top: 13px;
        margin-left: 4px;
    }

    .price-info__table::before {
        top: -6px;
        left: 66%;

        width: 6px;
        height: 6px;
    }

    .price-info__table-row:last-child {
        width: 27%;
    }

    .price-info__cell {
        padding-top: 2px;
        padding-left: 6px;
    }

    .price-info__cell--date {
        padding-top: 11px;

        font-size: 7px;
    }

    .price-info__cell--price {
        font-size: 10px;
        line-height: 1;
    }

    .price-info__close {
        top: 8px;
        right: 7px;

        width: 8px;
        height: 8px;
        padding: 0;
    }

    .price-info__close::before,
    .price-info__close::after {
        right: 4px;

        width: 1px;
        height: 8px;
    }
}
