.recreation {
    display: flex;
    min-height: 43px;

    color: #00E2B5;
    border-top: 1px solid #00E2B5;
}

.recreation__time {
    width: 14%;
    margin-top: 11px;

    font-weight: bold;
}

.recreation__heading {
    margin: 0;
    margin-top: 11px;

    font-size: 12px;
    text-transform: lowercase;
}

@media (min-width: 1440px) {
    .recreation {
        min-height: 70px;
        margin-left: 9%;

        border-top-width: 2px;
    }

    .recreation__time {
        width: 18%;
        margin-top: 24px;

        font-size: 14px;
    }

    .recreation__heading {
        margin-top: 26px;

        font-size: 14px;
    }
}
