.rules {
    margin-top: 35px;

    text-align: center;
}

.rules__wrapper {
    padding-top: 11px;
    padding-right: 6%;
    padding-bottom: 20px;
    padding-left: 6%;

    text-align: left;

    background: #F8F8F8;
}

.rules__caption {
    margin: 0;

    font-size: 15px;
}

.rules__description {
    margin: 0;
}

.rules__link {
    display: inline-block;
    margin-top: 15px;

    font-weight: bold;
    font-size: 12px;
    line-height: 1.2;
    text-decoration: none;

    color: #FF0195;
    border-bottom: 1px solid rgba(255, 1, 149, 0.2);
}

.rules__link:focus {
    border-bottom-color: transparent;
    outline: 1px solid #00E2B5;
}

.rules__link:hover {
    border-bottom-color: rgba(255, 1, 149, 0.3);
}

@media (min-width: 720px) {
    .rules {
        width: 49%;
        margin-top: 0;

        text-align: left;
    }

    .rules__wrapper {
        padding-top: 10px;
        padding-right: 4%;
        padding-bottom: 16px;
        padding-left: 4%;
    }

    .rules__description {
        font-size: 10px;
    }

    .rules__caption {
        font-size: 10px;
    }

    .rules__link {
        margin-top: 10px;

        font-size: 10px;

        border-bottom: none;
    }
}
