.section {
  margin-top: 38px;
  margin-right: 5%;
  margin-left: 5%;
}

.section__heading {
  margin: 0;

  font-size: 36px;
  line-height: 1.3;
  text-transform: lowercase;

  color: var(--primary-color);
}

.section__subheading {
  display: block;

  font-weight: bold;
  font-size: var(--main-font-size);
  text-transform: uppercase;

  color: var(--primary-color);
}

.section__paragraph {
  margin: 0;
  margin-top: 21px;

  font-size: 21px;
  line-height: 1.4;
}

.section--gallery {
  margin-top: 37px;
}

.section__container {
  margin-top: 23px;
}

.section--badge {
  margin: 0;
  margin-top: 35px;
  padding-top: 1px;
  padding-bottom: 27px;

  background: #F8F8F8;
}

.section--badge .section__heading {
  width: 90%;
  margin-top: 28px;
  margin-right: auto;
  margin-left: auto;
}

.section--badge .section__subheading {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.section--speakers {
  margin-top: 1px;

  font-size: var(--second-font-size);
}

.section--sponsors {
  font-size: var(--second-font-size);
  text-align: center;
}

@media (--desktop) {
  .section {
    margin-top: 80px;
    margin-right: 30px;
    margin-left: 30px;
  }

  .section--mission {
    min-height: 474px;
    padding-left: 370px;

    background: url("../img/yellow.png") no-repeat 5% 8px;
    background-size: 296px;
  }

  .section__heading {
    font-size: 86px;
  }

  .section__subheading {
    font-size: 16px;
    line-height: 2.7;
  }

  .section__paragraph {
    margin-top: 26px;

    font-size: 34px;
  }

  .section--schedule {
    margin-top: 73px;
  }

  .section--schedule .section__subheading {
    line-height: 1;
  }

  .section--gallery {
    margin-top: 85px;
  }

  .section--badge {
    position: relative;

    margin: 0;
    margin-top: 85px;
    padding-bottom: 116px;
  }

  .section--badge::before {
    content: "";

    position: absolute;
    top: 0;
    right: 0;

    width: 216px;
    height: 100%;

    background: var(--primary-color);
  }

  .section--badge .section__heading {
    margin-top: 86px;
    margin-left: 30px;
    padding-right: 34%;

    line-height: 1.1;
  }

  .section--badge .section__subheading {
    margin-right: auto;
    margin-left: 30px;
  }

  .section--speakers {
    display: flex;
    margin-top: 107px;
  }

  .section--sponsors {
    margin-top: 90px;

    font-size: var(--second-font-size-desktop);
  }
}

@media (--medium-desktop) {
  .section {
    margin-top: 80px;
    margin-right: 9%;
    margin-left: 9%;
  }

  .section--mission {
    padding-right: 3%;
    padding-left: 27.5%;
  }

  .section__heading {
    font-size: 86px;
  }

  .section__subheading {
    font-size: 16px;
  }

  .section__paragraph {
    font-size: 34px;
  }

  .section--schedule {
    margin-top: 74px;
  }

  .section--gallery {
    margin-top: 110px;
  }

  .section--badge {
    margin: 0;
    margin-top: 110px;
  }

  .section--badge::before {
    width: 322px;
  }

  .section--badge .section__heading,
  .section--badge .section__subheading {
    width: 82%;
    margin-left: auto;
  }

  .section--speakers {
    margin-top: 107px;
  }

  .section--sponsors {
    margin-top: 90px;
  }
}

@media (min-resolution: 144dpi) and (--desktop),
      (min-resolution: 1.5dppx) and (--desktop) {
  .section--mission {
    background-image: url("../img/yellow@2x.png");
  }
}
