.session {
  position: relative;

  min-height: 71px;

  border-top: 1px solid var(--primary-color);
}

.session:first-of-type {
  margin-top: 24px;
}

.session--closed .session__topic,
.session--closed .session__speaker-photo,
.session--closed .session__info {
  display: none;
}

.session__heading {
  width: 100%;
  margin-top: 13px;
}

.session--closed .session__heading {
  width: 90%;
}

.session__time {
  font-weight: bold;
  font-size: var(--second-font-size);

  color: var(--primary-color);
}

.session--closed .session__container {
  cursor: pointer;
}

.session__container:focus {
  outline: 1px solid var(--primary-color);
}

.session--closed .session__container:hover {
  color: var(--secondary-color);
}

.session__speaker {
  margin: 0;
  margin-top: 4px;

  font-weight: bold;
  font-size: var(--second-font-size);
  line-height: 1.2;
}

.session__company {
  margin-left: -3px;

  text-transform: lowercase;
}

.session__company::before {
  content: "__";
}

.session--closed .session__speaker {
  margin-top: 2px;
}

.session__topic {
  margin: 0;
  margin-top: 9px;

  font-weight: normal;
  font-size: var(--second-font-size);
  line-height: 1;
}

.session__toggle {
  position: absolute;
  right: 1px;
  bottom: 28px;

  width: 14px;
  height: 14px;

  background: none;
  border: none;

  cursor: pointer;
}

.session__toggle:focus {
  outline: 1px solid var(--primary-color);
}

.session__toggle::before,
.session__toggle::after {
  content: "";

  position: absolute;
  top: 0;
  right: 6px;

  width: 2px;
  height: 14px;

  background: var(--secondary-color);
}

.session__toggle::before {
  transform: rotate(90deg);
}

.session__toggle--hide {
  top: 42px;
}

.session__toggle--hide::before {
  transform: rotate(45deg);
}

.session__toggle--hide::after {
  transform: rotate(-45deg);
}

.session__speaker-photo {
  width: 75px;
  height: 75px;
  float: left;
  margin-top: 15px;
}

.session__info {
  min-height: 100px;
  margin-top: 5px;
  margin-left: 91px;
  padding-bottom: 29px;
}

.session__description {
  width: 90%;
  margin: 0;
  margin-top: 9px;
}

.session__link {
  display: inline-block;
  margin-top: 9px;

  font-weight: 700;
  line-height: 1.2;
  text-transform: lowercase;
  text-decoration: none;

  color: var(--secondary-color);
  border-bottom: 1px solid rgba(255, 1, 149, 0.2);
}

.session__link:hover {
  border-bottom-color: rgba(255, 1, 149, 0.3);
}

.session__link:focus {
  border-bottom: none;
  outline: 1px solid var(--primary-color);
}

@media (--large-desktop) {
  .session {
    min-height: 130px;
    margin-left: 9%;

    border-top-width: 2px;
  }

  .session:first-of-type {
    margin-top: 50px;
  }

  .session--closed .session__topic {
    display: block;
  }

  .session__heading {
    display: flex;
    margin-top: 30px;

    align-items: flex-start;
  }

  .session--closed .session__heading {
    margin-top: 26px;
  }

  .session__time {
    width: 18%;

    font-size: 26px;
  }

  .session--closed .session__time {
    width: 20%;
  }

  .session__speaker {
    margin-top: 4px;

    font-size: 26px;
  }

  .session__company {
    margin-left: -6px;
  }

  .session__topic {
    margin-top: 12px;

    font-size: var(--second-font-size-desktop);
  }

  .session--closed .session__topic {
    margin-top: 16px;
  }

  .session__toggle {
    right: 4px;
    bottom: 50px;

    width: 28px;
    height: 28px;
  }

  .session__toggle::before,
  .session__toggle::after {
    right: 12px;

    width: 4px;
    height: 28px;
  }

  .session__toggle--hide {
    top: 118px;
  }

  .session__speaker-photo {
    width: 150px;
    height: 150px;
    margin-top: -16px;
  }

  .session__info {
    min-height: 164px;
    margin-top: 9px;
    margin-left: 195px;
  }

  .session__description {
    width: 59%;
    margin-top: 0;

    font-size: var(--main-font-size-desktop);
    line-height: 1.75;
  }

  .session__link {
    margin-top: 32px;
    margin-left: -8px;
    padding: 8px;

    font-size: var(--main-font-size-desktop);
    line-height: 1.2;

    border-bottom: none;
  }
}
