.slider {
    position: relative;
}

.slider__prev {
    position: absolute;
    left: 0;
    width: 32px;
    height: 32px;
    background: rgba(0, 0, 0, 0.7);
    border: none;
    cursor: pointer;
}

.slider__prev::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    width: 12px;
    height: 12px;
    background: transparent url('../img/icon-arrow.svg') no-repeat 50% 50%;
    background-size: contain;
    transform: rotate(180deg);
}

.slider__next {
    position: absolute;
    right: 0;
    width: 32px;
    height: 32px;
    background: rgba(0, 0, 0, 0.7);
    border: none;
    cursor: pointer;
}

.slider__next::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    width: 12px;
    height: 12px;
    background: transparent url('../img/icon-arrow.svg') no-repeat 50% 50%;
    background-size: contain;
}

.slider__note {
    text-align: center;
    padding-top: 10px;
}

@media (min-width: 1024px) {

    .slider {
        margin-top: 40px;
    }

    .slider figure {
        width: 840px;
    }

    .slider__prev {
        top: 225px;
    }

    .slider__next {
        top: 225px;
    }
}
