.speakers__caption {
    margin: 0;
    margin-top: 21px;

    font-size: 21px;
    letter-spacing: -0.3px;
}

.speakers__description {
    margin: 0;
    margin-top: 6px;

    letter-spacing: 0.1px;
}

.speakers__btn {
    display: block;
    margin-top: 13px;

    font-weight: bold;
    line-height: 2.2;
    text-decoration: none;
    text-align: center;

    color: #FF0195;
    border: 2px solid #FF0195;
}

.speakers__btn:focus {
    box-shadow:
        0 0 0 2px white,
        0 0 0 4px #00E2B5;
    outline: none;
}

.speakers__btn:hover {
    color: white;
    background: #FF0195;
}

@media (min-width: 720px) {
    .speakers__block {
        width: 51%;
    }

    .speakers__caption {
        margin-top: 0;

        font-size: 17px;
        letter-spacing: -0.4px;
    }

    .speakers__description {
        margin: 0;
        margin-top: 6px;
        margin-right: 4%;

        font-size: 10px;
        letter-spacing: -0.1px;
    }

    .speakers__btn {
        display: inline-block;
        margin-top: 19px;
        padding-right: 17px;
        padding-left: 17px;

        font-size: 10px;
        line-height: 2.2;
    }
}
