.summary {
  min-height: 382px;
  padding-top: 20px;
  padding-right: 10%;
  padding-bottom: 45px;
  padding-left: 5%;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-transform: lowercase;

  color: var(--text-second-color);
  background: var(--primary-color) url("../img/hand.png") no-repeat 90% 100%;
}

.summary__heading {
  margin: 0;
  margin-top: 12px;

  font-size: 36px;
}

.summary__stats {
  display: flex;
  width: 72.5%;
  max-width: 300px;
  margin: 0;
  margin-top: 27px;

  justify-content: space-between;

  font-size: 36px;
}

.summary__stats-unit {
  display: block;
  margin-top: 2px;

  font-size: var(--second-font-size);
}

@media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
  .summary {
    background-image: url("../img/hand@2x.png");
    background-size: 160px;
  }
}

@media (--desktop) {
  .summary {
    position: relative;

    min-height: 695px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 48px;
    padding-left: 30px;

    font-size: 86px;

    background: var(--primary-color) url("../img/hand@2x.png") no-repeat 84% bottom;
    background-size: 344px;
    border-top: 1px solid #D6D8D9;
  }

  .summary__heading {
    margin-top: 20px;
    margin-right: 27%;
    margin-left: 9%;

    font-size: 86px;
    line-height: 1.15;
  }

  .summary__stats {
    position: absolute;
    top: 275px;
    right: -10%;

    width: 455px;
    max-width: none;

    transform: rotate(-90deg);

    font-size: 86px;
  }

  .summary__stats-unit {
    padding-left: 4px;

    font-size: 24px;
  }
}

@media (min-resolution: 144dpi) and (--desktop),
      (min-resolution: 1.5dppx) and (--desktop) {
  .summary {
    background-image: url("../img/hand@3x.png");
  }
}

@media (--medium-desktop) {
  .summary {
    padding-top: 86px;
    padding-right: 9%;
    padding-left: 9%;
  }

  .summary__stats {
    right: -2%;
  }
}

@media (--large-desktop) {
  .summary {
    background-position: 84% 88px;
  }
}
